[2016-09-20 03:26] jamesturk commented on #1
**Option A**

Write a one-off import into Pupa that goes straight from the Mongo DB to the Postgres DB.  Based loosely on existing ocd/scrapers-us-state code, but don't require the old OS API to be available.

Pro: Works for existing old data and for old scrapers that haven't migrated yet all the same.
Pro: I'm pretty sure existing scrapers-us-state code was pretty solid last we touched it.
Con: R

[2016-09-20 03:27] jamesturk commented on #1
**Option B**

Drop old data, make it available only in archival state.

Pro: simplest
Con: hurts old users that might rely on OS data
Con: doesn't really help us w/ billy scrapers, would probably require us to bring new states on one at a time as they're pupa-ized

[2016-09-20 03:28] jamesturk commented on #1
**Option C**

Run a MongoDB API for the forseeable future.  Add a (once planned) way for data to flow from PG --> MongoDB on a state-by-state basis.

Pro: easiest migration path
Con: extra server for MongoDB
Con: requires back-migration of pupa-ized scrapers to MongoDB, extra code.

[2016-09-20 03:32] jamesturk commented on #1
**Option D**

The three-step dance:
    * billy-update ak  (creates intermediate JSON)
    * option_d.py (billy JSON => pupa JSON)
    * pupa update ak --import  (pupa JSON -> Postgres)

Then slowly pupa-ize scrapers to bypass this.

Pro: billy scrapers work, pupa imports work. intermediate step is just a conversion from one local JSON format to another
Con: doesn't help w/ old data, would require

[2016-09-20 03:39] jamesturk commented on #2
Initial thoughts:

Top Priorities:
* bill scrapers
* person scrapers
* vote scrapers
* districts
* full text search
* API

Hopefully:
* Entire website

Maybe Nots:
* categorization
* events
* committees

[2016-09-20 04:01] jamesturk opened #4 "Proposal: State Prioritization"
To ease maintenance burden we would adopt a formal policy of prioritizing states with an eye towards sustainability.

Our hope would be that once the project reached a certain stride it would be maintainable without these kinds of trade-offs, but in the name of pragmatism we'd take the following into account:
- Data Quality - higher quality data = more updates
- Popularity - not population, but li

[2016-09-22 01:57] estaub commented on #3
I'm new, so I'm writing from ignorance.  But it seemed to me that Sunrise was taking on a lot by being the sole hosting entity.  Consider whether it might make sense to have a distributed architecture, where someone could easily pull down a project and launch a server that keeps itself up-to-date with an "origin" server.  For fastest adoption, I'd consider using Node.js-based tech stack, but YMMD.

[2016-10-27 02:37] jamesturk commented on #2
I think we should have that flat file for sure. & other CSV dumps I'll put into the 'maybe later' pile- I'd rather wait and have people ask for them so we can discuss use cases

[2016-10-27 02:39] jamesturk commented on #3
I think there's some merit here for sure, but a distributed architecture would be a huge shift from how things work now and our most precious resource is time.

Actually closing this issue out for now, we have a stripped down architecture that'll keep us alive in the short term while we iterate on migration to a more stable/flexible future architecture.

[2016-10-27 02:47] jamesturk commented on #1
Yeah, I think we can do a one time import w/ A.  That'd mean new scrapers come online as they're rewritten.

[2016-10-27 02:51] jamesturk commented on #1
I think it comes down to three major questions, all of these options permutations of these choices:

What happens to old Open States data?
* exists in old & new APIs
* exists only in old API

What happens to billy scrapers?
* we continue running them in 2017, data flows to new API
* we never run them again, port them to pupa as they're ready for 2017

What happens to Open States API v1?
* it goes

[2016-10-28 17:35] showerst commented on #4
It's also worth looking at how the sessions fall, e.g. with Texas where they'll only be updating from Jan -> May 2017 then do nothing for 2 more years.

The maintenance burden also differs significantly, some states rarely change (CA, NH now that we're using their sql database), others require constant patching (New york, Ohio).

I have a set of probably 5-10 openstates patches to bring every legi

[2016-11-01 02:51] jamesturk commented on #7
We're still sorting it out, but I think we'll bring scrapers over to pupa (for maintainability/eventual ease of server maintenance/the nicer data model/etc.) and have the data flow back into the billy data model for a while so that OpenStates.org and the v1 API can work while we port other stuff.

They don't have to be written from scratch, some might be easier to, but I imagine a lot of them can

[2016-11-01 02:51] jamesturk commented on #8
thanks, really appreciated!

[2016-11-01 02:56] fgregg commented on #8
yeah, let me know.

[2016-12-03 12:35] mileswwatkins commented on #8
Howdy Forest! Looks like IL has 2017-session bills up, want to take a whack at this in the next couple weeks?

[2016-12-03 12:39] mileswwatkins commented on #2
Update based on feedback that @jamesturk and I have seen: committee scraping should be at least a "hopefully," and I'm still behind the CSV dumping (we've got at least one request recently for contact info dumps, beyond the old requests).

[2016-12-03 13:27] fgregg commented on #8
Sure. Where do I contribute?

 https://github.com/opencivicdata/scrapers-us-state doesn't quite look like the right place for a pupa scraper?

[2016-12-03 14:38] fgregg commented on #8
@mileswwatkins

Sure. Where do I contribute?

https://github.com/opencivicdata/scrapers-us-state doesn't quite look like the right place for a pupa scraper?

[2016-12-03 14:41] mileswwatkins commented on #8
@fgregg, I'd mirror the structure of @jamesturk's Florida Pupa scraper: https://github.com/openstates/florida

Let me know if you need me to create the repo in the org for you; don't know if you have the permissions for it.

[2016-12-03 14:46] fgregg commented on #8
Okay. Please create the repo. I don't have the permissions.

On Sat, Dec 3, 2016 at 8:41 AM, Miles Watkins <notifications@github.com>
wrote:

--
773.888.2718

[2016-12-03 15:04] fgregg commented on #8
@mileswwatkins Please create the repo. Can you please also communicate your plans for when and how this data will be served?

[2016-12-03 22:40] mileswwatkins commented on #8
@fgregg, created! https://github.com/openstates/illinois

I've added you as a collaborator on that repo, so you should have unfettered access for now.

As far as plans, @jamesturk can speak more clearly to this. I think the idea is to serve the historic data in the traditional Billy API in the short-short term, but then switch to a more modern OCD-centric API as soon as possible; basically, deploy

[2016-12-03 22:44] fgregg commented on #8
So, the IL scraper's data wouldn't be served anywhere until all the
scrapers are switched to pupa? Could you clarify @jamesturk?

On Sat, Dec 3, 2016 at 4:40 PM, Miles Watkins <notifications@github.com>
wrote:

--
773.888.2718

[2016-12-03 23:19] showerst commented on #7
I have patches to Openstates to bring almost all the existing states current, most of which are just changes to __init.py__ -- though I've had to do a few total rewrites. I'll go through the sheet and add that data tomorrow.

I think the 'move them to pupa without working to integrate tim's 2017 additions' is the right move, but here's [my openstates repo](https://github.com/showerst/openstates) i

[2016-12-03 23:42] jamesturk commented on #8
There are enough users of the old API that I want to let it live through 2017 to give people time to migrate.

Here's my thinking:

* old scraper works mostly fine -> let it continue to run in billy  (open Q: do we push this data to pupa DB?)
* old scraper doesn't work -> rewrite in pupa (and create a conversion script to backfill billy w/ pupa data from states in this state)

[2016-12-03 23:52] showerst commented on #8
@jamesturk -- do you want me to start doing PRs to openstates again for 2017 sessions?

[2016-12-03 23:53] showerst commented on #8
Oh and @mileswwatkins can you create a NH repo and invite me? I'll start w/ that state since I rebuilt the scraper last year and am familiar with their database.

[2016-12-03 23:59] jamesturk commented on #8
PRs would be great if you have fixes, and I've just created a NH repo.
Thanks!

On Sat, Dec 3, 2016 at 6:53 PM, showerst <notifications@github.com> wrote:

[2016-12-04 02:54] fgregg commented on #8
Does the Illinois scraper work mostly fine? @jamesturk

[2016-12-08 03:04] mileswwatkins commented on #8
Thanks guys!

I just sent you two invites to the OS GitHub organization. Once you're in, you'll be able to create state repos if you need them.

@fgregg, it looks like the current (Billy) IL scrapers are running pretty well. Looks like there's a bit of trouble with parsing vote PDFs, but no big systematic problems. If you do want the practice of porting a Billy scraper to Pupa, then have at it! If

[2016-12-08 15:56] showerst commented on #8
Will do @mileswwatkins  -- probably tonight after work. Off the top of my head AL and MA have had the most substantial work. Many of the rest are just __init__.py updates.

PS looks like NH took their legislative SQL database down in prep for the new session. I've reached out to them to find out when/if it will return. We can always rewrite NH for the website if need be. In the meantime I may clai

[2016-12-09 18:49] mileswwatkins opened #9 "Organize early-2017 hackathon"
As mentioned in our blog posts, we're aiming to have a hackathon in early 2017. I'll work on organizing this for now. Main questions:

- Hosting: Where and when?
  - Would be nice to connect with an existing meetup, such as Code for DC
  - Could also host independently, such as at a downtown DC office of an allied organization
  - @jamesturk and I are both in DC for much of January, so most dates

[2016-12-18 20:26] mileswwatkins commented on #9
Update for now: have been talking with Code for DCers, and it seems like that's a good possibility. We'll be planning logistics in the week or two following Christmas, hopefully aiming for February for the event. It was also suggested that we cross-promote or partner the hackathon with other groups, such as DC Legal Hackers.

[2016-12-19 19:26] showerst commented on #2
I think we should keep action categorization, it enables some really useful analysis, and most of the states have decent code for it already.

I'd also like to +1 keeping the event scrapers, even if they're lower priority than bills/legs. I'd help maintain them.

The leg data dump is a great idea.

[2016-12-19 19:55] mileswwatkins commented on #10
After bouncing the idea of a few more people, the thought is to make the image Dockerized, build and post it publicly to Docker Hub each time there's a new push to master in either Billy or OS repos, and then run it on AWS Data Pipeline (scheduled) or using the above-mentioned Lambda+EC2 instantiation.

[2016-12-19 20:11] jamesturk commented on #10
I'm all for this, any idea if we'll have some that'll have issues running
fully dockerized? I'm mostly concerned off the top of my head about CA and
whichever have abiword dependencies.

Maybe this was already addressed during moxieization though.

On Dec 19, 2016 2:55 PM, "Miles Watkins" <notifications@github.com> wrote:

After bouncing the idea of a few more people, the thought is to make the
im

[2016-12-19 20:19] mileswwatkins commented on #10
Yeah, IIRC this was handled. BTW, for CI systems (to generate the Docker images), any preferences, Travis vs Circle vs …?

[2016-12-19 22:49] jamesturk commented on #10
I'm trying out the hub.docker.com automatic builds, openstates/billy and
openstates/openstates are building now

On Dec 19, 2016 3:19 PM, "Miles Watkins" <notifications@github.com> wrote:

[2016-12-22 02:36] mileswwatkins commented on #2
We're also moving committees out of "maybe nots," right? @jamesturk, can you update the list to how things currently stand, for viewers' reference?

[2016-12-22 03:26] mileswwatkins commented on #6
This is all pretty much done, right? (Save for full updating of the docs, outside of just the API key bits.)

[2016-12-22 03:38] jamesturk commented on #6
yeah, the FTS solution is temporary, I'll make a separate ticket for migrating it to a new system

[2016-12-22 04:28] mileswwatkins opened #11 "Timeline and status of Open States data, by state"
**Update: as of 1/22 all states that are in session before March are running again, this leaves Florida (openstates/openstates#1290) and Louisiana (openstates/openstates#1289) which will be monitored in their own tickets**

The following table is our timeline for when Open States expects to start serving data for the 2017 legislative sessions.

States are very roughly in descending order of priori

[2016-12-23 03:58] jamesturk commented on #12
created openstates/openstates.org#37

[2016-12-23 03:58] jamesturk commented on #6
closing this one out in favor of the more detailed tickets

[2016-12-23 04:02] jamesturk commented on #1
Documenting some decisions for posterity:

For 2017 we're keeping billy as the focus as a matter of pragmatism.

During 2017 we will migrate infrastructure & once we have OCD API up we can announce a new deprecation timeline for OSv1.

We'll port scrapers over, and have data migration scripts to do the billy<--->pupa dance.

Still TBD is if we let OCD API be a clean slate (probably 2017-onward) an

[2016-12-30 00:33] jalbertbowden commented on #9
lmk if i can help

[2016-12-31 01:20] jamesturk commented on #10
basic infrastructure is in place, tracking issues on that repo

[2017-01-02 01:45] mileswwatkins opened #13 "Add more US territories"
Once everything's stable, let's complement PR and DC with USVI, NMI, and Guam.

Tim's started us off right: https://github.com/openstates/openstates/pull/1220

[2017-01-13 19:47] jamesturk commented on #4
this ticket feels obsolete for now, definitely things to return to at some point, but the issue of prioritization was taken care of for now.  maintenance prioritization will be a different thing, but we'lls ee how that plays out

[2017-01-13 19:47] #4 closed

[2017-01-23 02:04] #11 closed

[2017-01-23 04:50] mileswwatkins commented on #9
Updating: we're still in chats with Code for DC, @jamesturk and/or I will be speaking with them in-person at their next meetup. Hopefully will have details from there.

[2017-02-03 16:48] todrobbins commented on #9
I'm a Utahan and was wondering if our state's scraper/etc needs any love? Cheers!

[2017-02-04 02:33] mileswwatkins commented on #9
Hi @todrobbins! If you hop on the Open States Slack, we can chat about next steps for the Utah scraper. Just sent you an invite to your GH-listed email address.

[2017-02-07 00:24] jamesturk commented on #2
closing this one out as it is sort of obsolete, I updated the initial ticket w/ where things stand.  a fuller prioritization conversation will come as we migrate, but due to outcry/offers of support we won't drop comms/events.

we did drop:
* full text (just for now)
* email (revisit?)
* newsblogs (for good?)
* favoriting (revisit?)

[2017-02-07 00:25] jamesturk commented on #7
closing this one out, we'll write up Pupa migration plans soon now that we're getting back up to speed

[2017-02-07 00:26] jamesturk commented on #13
I'm OK with this, but I think we should somehow designate PR & others as provisional as they can become a support burden and I doubt we'll have the same level of help/usage on them as we do on states.

DC will remain at the same priority level as a state.

[2017-02-07 00:31] jamesturk commented on #14
(I'd love to hear people's thoughts, feel free to use this as a discussion.  I'll make an executive decision when we start work on pupa in earnest.)

[2017-02-07 00:38] jamesturk commented on #14
👍 this comment for multi-repo

[2017-02-07 16:26] showerst commented on #14
A few additional thoughts in favor of single-repo:

1. I think maintaining naming standards for bug-filing (STATE: bug or tagging) equals out the first advantage of multi-repo.
1. Single repo feels like it will make openstates more accessible for new people, or anyone who's working on a scraper and wants to know how we do (X) in another state.
1. On the (admittedly few) days where we do work on mu

[2017-02-07 16:36] jamesturk commented on #14
seems pretty one-sided, one-repo wins

[2017-02-07 16:45] jamesturk commented on #13
VI work is in progress
Guam:  http://www.guamlegislature.com/
NMI: http://www.cnmileg.gov.mp/

and both look doable, could be a decent task if someone has connections to either and/or wants to get up to speed writing a brand new pupa scraper

I'm going to draw a semi-arbitrary line there, w/ organized territories. We will leave unorganized territories and associated states out.

[2017-02-10 02:48] jonConerly commented on #16
I've tried to use their API a couple of times for another project(tried again before writing this), it does not appear to be working.  I can look up my representative and see the data on their site, but the API calls(exported using the official method), return blank documents.  Even if OS gets some sort of internal connection to the data, it appears that most of the maintenance will have to fall o

[2017-02-10 05:36] jamesturk commented on #16
Ah good to know, that'll be of limited use then :/

I'll check w/ them on the status of their API

[2017-02-11 18:51] mileswwatkins commented on #9
We're tentatively scheduling this for Saturday, April 1. More information forthcoming once we determine hosting location! Stay tuned here and on the Slack.

[2017-02-15 04:43] jamesturk commented on #9
We're now planning this for Sunday March 19th.  More to come.

[2017-02-16 20:32] mileswwatkins commented on #9
Organized! https://blog.openstates.org/post/march-2017-dc-code-sprint/

Closing this ticket, as additional updates will be released via the blog and/or [EventBrite notifications](http://www.eventbrite.com/e/open-states-code-sprint-registration-32159601233?ref=ebtnebregn).

[2017-02-16 20:32] #9 closed

[2017-02-19 22:44] jamesturk commented on #15
Since openstates/pupa-fl is almost ready and a few more pupa branches are coming into being, I want to discuss the second point here about the long-lived pupa branch.

Curious what flow people would prefer for these going forward:

Plan A: long lived 'pupa' branch
- uses 'openstates/{state}' directory for new scrapers
- presumably we'd delete the old billy scraper from 'openstates/{state}' in the

[2017-02-20 03:36] fgregg commented on #15
Based on my work on Illinois, I prefer options A or B. I'm finding that I can make pretty incremental modifications to the billy scrapers to turn them into pupa scrapers. As such, I think it will be nice to have continuous commit history.

[2017-02-20 10:56] mileswwatkins commented on #15
Hmm, what's going to be the easiest to understand for devs just starting with the project? Similarly, what's going to be the easiest to make work in Docker, if it has to be able to easily run both Pupa _and_ Billy scrapes?

I'm really unsure as to which is the most intuitive. Originally I liked A, but since we'll stop supporting a Billy scraper once it's ported, having Pupa "hidden" in a separate

[2017-02-20 18:02] jamesturk commented on #15
Yeah, I started to realize ease of figuring out what is going on in a given state is a real strike against Option A IMO.

If they live in the same branch there'll be two dockerfiles and docker-compose will call the newer one something like 'scrape' so invocation is like ``docker-compose run scrape fl people --fast``

[2017-02-20 23:39] jamesturk commented on #15
If anyone wants to check out what Option B would look like here's a pass at it:

https://github.com/openstates/openstates/pull/1399

[2017-02-24 19:04] johnnyman727 commented on #18
Would love to have this feature. @jamesturk do you have an easily digestible bulleted list of action items that an eager contributor could get started with?

[2017-03-05 18:35] jamesturk commented on #15
https://github.com/openstates/openstates/issues/1442 is the issue to track now

[2017-03-09 02:08] jamesturk opened #20 "automation"
let's automate things like crazy:

- [x] file issues when scrapers break
- [x] run scrapers
- [x] backups
- [x] public data dumps
- [x] images
- [x] auto-close certain issues like failing scrapers
- [x] update automation to handle pupa & billy side-by-side

other ideas:

-  better QA on pull requests?  (use branch comparison script to run both and show differences?)
- file common data quality issu

[2017-03-09 02:15] jamesturk opened #21 "Open States API v2"
more to come, but this is where we'll plan the next iteration of the Open States API to be backed by Open Civic Data models

a few open questions:

- Open Civic Data data contains a lot more relationships than billy did, so intelligent "related resource" behavior would be useful
    - ocd-jsonapi repo has some work in this direction that uses the JSON API specification
    - GraphQL could also be

[2017-03-09 05:38] estaub commented on #21
I'd suggest getting strawman docs out way early, so folks can provide input.

Re **GraphQL**:  I'm working with/on a very full-featured GraphQL API based on the current API, with a Postgresql back end.  I don't need a lot of perf yet, so I'm just using a GraphQL schema+server autogen'd from the Postgres schema, using [PostgraphQL](https://github.com/calebmer/postgraphql).  The schema is pretty hom

[2017-03-10 09:46] In-vincible commented on #20
I want to apply for gsoc 2017 with open states please help me get started :)

[2017-03-11 04:30] jamesturk commented on #21
Thanks for the feedback on using GraphQL so far.  I think we'd probably use graphene since it fits our stack, and I'd be concerned about coupling it too closely to our internal schema but it's good to hear what's working elsewhere so we can take a look.

[2017-03-11 04:31] jamesturk commented on #21
as mentioned in #1264 we should definitely link to OCD ids from legislator responses

[2017-03-12 00:05] bjmc commented on #21
One thing that seems to be missing in the v1 API, that I'd like to see in v2 is the ability to search for bills with activity in the last `n` days. My understanding is that the `updated_since` search field only refers to the last time the Openstates scraper loaded data for that bill, not the last time there was a new `action` on a bill.

[2017-03-17 20:30] estaub commented on #23
You can get close, by requesting a [bill search](http://docs.openstates.org/en/latest/api/bills.html#methods) on `updated_since`, `state`, and maybe `chamber`.  The results are relatively small, since they have no votes.  Then do a bill detail on each result to get the votes.

[2017-03-18 12:59] sudolibre commented on #23
Thanks for the comment @estaub! That's actually what I'm doing currently. I added the fields=votes parameter to the bill search. It doesn't give you the votes but it will give you an "id" field if the bill has been voted on. So I search for votes since the last time I checked, filter out the ones without an id field in the votes section, and then find the vote by doing a bill detail on each one an

[2017-03-21 04:46] jamesturk commented on #22
Thinking through what this will take:

We'll be scraping IL data well before we have the API up, so we'd have to drop that data and replace it w/ the datamade data.  I don't think that'd be a problem unless we had done manual fixes (but that seems unlikely since manual fixes will probably be on billy side until we have beta API ready).

So in general we should be alright doing this.

[2017-03-21 04:50] jamesturk commented on #25
there's been talk of killing the public boundary API, but if it stays in v2 we should include the same update data on it that we do on other endpoints

[2017-03-21 04:52] jamesturk opened #26 "automated QA"
reticketed from openstates/openstates#1337

via @jmcarp:

I'm wondering whether we can automatically detect some categories of openstates bugs, without waiting for users to report them. For example, we should be able to detect dead or broken links, as well as missing data. WDYT about adding some kind of automated QA, at scrape time and/or periodically afterwards? Is this already happening?

[2017-03-21 04:52] jamesturk commented on #26
There's a decent amount of automated QA (check out /admin if you run a local copy of openstates.org) but we definitely need to add more, including making use of the filters idea we added late in the process but never fully adopted.

As we move to new infrastructure we should consider the biggest pain points and work on automating detection and fixers.

[2017-03-21 04:52] jamesturk commented on #26
We should discuss what we can add and where it should live, some of it can be added to pupa, and other things are Open States specific

[2017-03-22 14:42] In-vincible commented on #20
@jamesturk do these ideas also comes under opencivic data tools?

[2017-03-23 18:24] In-vincible commented on #20
@jamesturk do these ideas also comes under opencivic data tools?

[2017-04-22 01:20] jamesturk commented on #16
going to consider this dead for now, we can always look at future feature requests if there is a need and a way to go forward

[2017-04-22 01:21] jamesturk commented on #24
adding this https://github.com/ottoyiu/django-cors-headers to openstates/openstates.org should do the trick

[2017-04-23 02:33] mileswwatkins opened #62 "IL: Add witness slip URLs"
Witness slips allow residents to, on the official state legislative information system, post their support/opposition to a bill. We can add this URL to `documents` (probably on the `event` object rather than on the `bill` object).

Eg:

- [List linked from an event page](http://my.ilga.gov/Hearing/HearingDetail/14789?SCommittees4/29/2017-page=1&SCommittees4/29/2017-orderBy=&SCommittees4/29/2017-fi

[2017-04-23 02:50] jonrogoff commented on #62
The basic approach is to start by going to the hearing page for each chamber:
http://my.ilga.gov/Hearing/AllHearings?chamber=S
http://my.ilga.gov/Hearing/AllHearings?chamber=H
Then go to the appropriate tab (ajax), probably Month for upcoming hearings and Previous for past hearings.

Each hearing has a Hearing Detail page, that lists the bills/witness slips available.  For example:
http://my.ilga.

[2017-04-23 02:50] jonrogoff commented on #62
Special case:  There are also Subject Matter hearings that have Witness Slips tied directly to the hearing rather than to bills.  These hearings have an extra Subject Matter attribute that other hearings do not have.
http://my.ilga.gov/Hearing/HearingDetail/14788?SCommittees5/22/2017-page=1&SCommittees5/22/2017-orderBy=&SCommittees5/22/2017-filter=&committeeid=0&chamber=S&nodays=30&_=1492915528587

[2017-04-26 03:42] jamesturk commented on #20
I think there's always room to look at some of these things, but the basics listed above are done now.  Future enhancements will probably be discussed & introduced as new tickets

[2017-04-26 03:42] #20 closed

[2017-04-26 03:51] jamesturk opened #28 "General API v2 Format"
There are a lot of good reasons not to re-invent the wheel here.  The Open Civic Data models are a lot more relational, so intelligent "related resource" behavior would be useful.

We'll be using Django (https://github.com/opencivicdata/python-opencivicdata-django) so it is likely we'll wind up using django-rest-framework as it is essentially best-in-class at this point and comes with some nice fe

[2017-04-26 03:59] jamesturk commented on #28
see https://github.com/openstates/meta/issues/21 for comment on GraphQL approach

[2017-04-26 04:02] jamesturk commented on #21
OK, in the interest of making these things a bit more actionable I've broken this out into the major things we need to plan.

https://github.com/openstates/meta/projects/1

Feel free to file new issues

[2017-04-26 04:02] #21 closed

[2017-04-26 04:04] jamesturk opened #33 "API v1 keys *will* carry over"
the two will share a database, most likely we'll turn off public v1 registration upon release of v2 and allow v2 keys to continue to work for v1 until deprecated

[2017-04-26 05:40] estaub commented on #30
It's also important to consider what the ongoing policy will be regarding "historical" data, and where the cutoff between "historical" and "current" is.

FWIW... as long as bulk is available for older stuff, I'm personally ok.  But for others who aren't maintaining a replica db, it may be important that all votes for the most recent (or current) term be accessible by API, because these have high i

[2017-04-26 11:27] jamesturk commented on #30
Good point- I have no desire for us to delete historical bill/vote data
once it exists in the API.

That is to say, 2017 data will be available at least until v3. And I'd
guess probably longer as we're less likely to change the underlying
storage, necessitating such a decision to be made again.

On Apr 26, 2017 1:40 AM, "Ed Staub" <notifications@github.com> wrote:

[2017-05-02 14:49] brentajones commented on #34
This appears to be fixed now. Thanks!

[2017-05-26 00:40] jamesturk commented on #19
there are separate repos/issues for all of these tasks now, updating

https://github.com/openstates/meta/wiki/2017-Roadmap to include them

[2017-06-02 23:02] jamesturk commented on #35
thanks for raising this, we're actually hoping to go to a twice a day cycle very soon here's a rough plan forward

- [ ] get (& record somewhere) the run time of each scraper, to give a sense for which ones will be problematic at the current rpm and which ones are clearly fine
- [ ] ideally also try to get a sense of frequency & timing of state's updates
- [ ] for scrapes that are under ~2 hours a

[2017-06-02 23:04] jamesturk commented on #18
this work is going to be tackled in https://github.com/openstates/notifications

[2017-06-14 13:05] jamesturk commented on #36
We don't have national data in Open States, all of our data is state level.  For national committees you might try https://projects.propublica.org/api-docs/congress-api/#scope-of-data

[2017-06-22 03:24] jamesturk commented on #28
A bit of an update:

The biggest obstacle to a GraphQL API is going to be the maturity of the tooling.  Graphene seems to be the closest thing to a mature solution that works w/ Open Civic Data models & seems fairly stable, but in testing I was having some performance issues that I hadn't been able to resolve.

I just came across: https://yacine.org/2017/02/27/graphqlgraphene-sqlalchemy-and-the-n1

[2017-06-22 05:51] estaub commented on #28
Without knowing the details of what you ran into, I'm going out on a limb...

I wouldn't give up on graphql quite yet; just because your first implementation is slow doesn't mean it's hard to get to a fast one.  If you are running into the query explosion problem in the article you referenced, I have that particular arrow stuck in my forehead, too, from my first pass.  Any efficient graphql server

[2017-07-12 22:16] jamesturk commented on #37
(we let this slip, but we'll do our best to be good at updating this ticket for the remainder of this quarter)

## 7/12 update

- new OCD database: 14/50 states loaded in as a test, turning on another 20 or so today

[2017-07-13 14:42] jamesturk commented on #26
closing this in favor of more specific tickets, especially in the openstates/admintools repo

[2017-07-13 14:42] #26 closed

[2017-07-21 21:16] mileswwatkins commented on #37
## 7/21 update

Hitesh:

- done: legislator retirement tool; data quality patch views; jurisdiction-specific person merge tool
- doing: name resolution tool; too-many or too-few people data quality checks

Miles:

- done: reviewed Hitesh's work; grant research
- doing: review Hitesh's work; pilot district map fix

[2017-07-27 17:32] mileswwatkins commented on #37
## 7/27 update

Hitesh:

- done: add too-many-people and too-few-people data quality issues; name resolution tool
- doing: UX changes with @jamesturk; status-update blog post; considering public view of data quality issues

Miles:

- done: review Hitesh's work; alpha for replacing OS.org district maps
- doing: review Hitesh's work; release OS.org district map fix

[2017-07-27 18:39] todrobbins commented on #37
Nice work everyone! Which jurisdictions are not importing?

[2017-07-27 21:16] jamesturk commented on #37
- [ ] CA: various ongoing issues w/ pupa entity resolution (WIP)
- [ ] MA: ongoing VoteEvent issues (fix hopefully in place for next run)
- [ ] OH: scraper is broken due to source changes (needs a fix)

[2017-08-10 00:44] mileswwatkins commented on #37
## 8/9 Update

Hitesh:

- done: closed out all PRs
- doing: data quality exceptions, documentation

Miles:

- done: away on vacation
- doing: district maps (maybe 8 hours of work left before they're in production)

James:

- done: Stripe widget research
- doing: Stripe widget implementation

[2017-08-17 00:28] mileswwatkins commented on #37
## 8/16 update

Hitesh:

- done: bugfixes, issue-ignoring tool
- doing: admintools documentation

Miles:

- done: district maps
- doing: district-matching debug, deployment of maps to front-end

James:

- done: Stripe widget beta
- doing: API v2 and build pipeline exploration

[2017-08-20 18:55] mileswwatkins opened #5 "Create and identify at-large districts for DC & PR"
The TIGER/Line SLDU file contains all 8 wards, but does not contain an at-large district. One will have to be created by merging all 8 wards, or a clipped-to-water DC footprint could be used instead.

- [ ] add to API
- [ ] add to S3 JSON
- [ ] test that FYL includes these

[2017-08-24 00:17] mileswwatkins commented on #37
## 8/23 update

Hitesh:

- done: bugfixes, documentation
- doing: documentation, wrapping-up blog post

Miles:

- done: maps are live once more
- doing: maps improvements, other site tweaks, maybe other geo stuff

[2017-08-29 23:27] mileswwatkins commented on #37
## 8/29 update

Hitesh:

- done: documentation, blog post

Miles:

- doing: map improvements

[2017-09-07 17:31] estaub opened #66 "MO: No resolved roll call votes for either house."
The House currently has no individual roll call votes recorded in 2017.

[2017-09-14 00:15] mileswwatkins commented on #37
## 9/13 update

Miles:

- done and doing: user research

James:

- done and doing: administrative tasks and outreach

[2017-10-10 15:50] jamesturk commented on #39
dealt w/ via email - was cross site error (was sending OPTIONS request & getting a 405)

[2017-11-10 15:15] estaub opened #57 "MN: No Senate votes"
I opened this as a separate issue, as opposed to amending https://github.com/openstates/openstates/issues/1906, since I'm guessing that after fixing this the original entity-resolution issue will remain.  Please re-org if useful.

[2017-11-10 15:29] estaub commented on #66
The House has no individual roll call votes at all for 2017, i.e. the `yes_votes`, `no_votes`, and `other_votes` arrays are always empty. The first comment is updated to reflect this.

[2017-11-10 17:02] estaub commented on #66
After reading the scraper code at https://github.com/openstates/openstates/blob/master/openstates/mo/votes.py
(with Python-ignorant eyes)
I believe that the House vote scraper is simply not implemented, as it's very hard (at best).

[code]

[2017-11-10 17:07] estaub commented on #66
See above, "with crazy spacing to break up the names".  If this refers to the insertion of letter-spacing within words, I've gotten good results on this in the past with a filter that removes spacing smaller than a certain limit.  It was a long time ago, I doubt I have the code.

[2017-11-21 17:42] jamesturk opened #40 "2018 Proposals"
I want to propose a few changes to Open States for 2018.

At the moment all of these are open to discussion, we'll "announce" these more formally once they've been agreed upon closer to the end of the year.

1) 2018 will see the introduction of API v2 and a new OpenStates.org.  Our current thinking is that these will have 2017 data onward, but will not have data going back to 2009.  We will of cou

[2017-11-21 18:18] estaub commented on #40
It might save churn (calendar time till stable) if there's an early API spec or examples or similar to review.  If the input to the pupa-to-billy scrape phase (which I haven't looked at yet) is the intended schema, that would be great to know.

[2017-11-21 18:24] estaub commented on #57
Since openstates/openstates-scrapers#1906 is closed, when fixing, be sure to check that individual yea/nay legislator votes are recorded.

[2017-11-21 18:38] jamesturk commented on #40
The schema will indeed be the OCD specification (which more or less matches
the input to the pupa2billy step modulo some implementation details)

https://opencivicdata.readthedocs.io/en/latest/proposals/0003.html OCDEP
3-7 document the format, and the models etc. at
https://github.com/opencivicdata/python-opencivicdata/tree/master/opencivicdata/legislative/models
might be helpful too.

The actual

[2017-11-23 17:15] estaub commented on #57
I started to work on this, and am backing out; being new to the project and to python, I should fix some easier stuff first.  In case the next person to work on this is also starting from ignorance, here's what I think I found:

The MN House provides an easily-scraped HTML page for votes, starting at http://www.house.leg.state.mn.us/votes/getvotes.asp.  The MN Senate provides no such UI.

The vote

[2017-12-01 06:27] #33 closed

[2017-12-01 06:28] jamesturk commented on #28
we've all but settled on a GraphQL approach, there'll be a post about this in December w/ a testable endpoint w/ a hopeful beta release in January

[2017-12-01 06:28] #28 closed

[2017-12-11 15:06] fareast555 opened #42 "API v2 feature request Add query filter for primary = leg_id"
There is currently no way to directly filter the /bills/ method for the legislator(s) who first introduced the bill (primary sponsor). This means that all bills for a legislator must be downloaded and the JSON data parsed on the client side for primary = legislatorID.

If all bills have a unique legislator introducing each bill, then it could be a top-level dictionary key. Else, in the array of sp

[2017-12-12 16:03] jamesturk commented on #40
https://blog.openstates.org/open-states-in-2018-and-beyond-d35f1717982b

[2017-12-12 16:03] #40 closed

[2017-12-21 21:50] jamesturk commented on #43
updatedSince is available on bills docs.openstates.org/en/latest/api/v2/root-nodes.html#id1

We should add it on people and maybe elsewhere, what did you have in mind?

we also have votes under bills, were you thinking something else?

[2017-12-21 21:56] jamesturk commented on #42
We’ll be adding this, looking at adding it in next alpha

http://docs.openstates.org/en/latest/api/v2/root-nodes.html#id1

I’m thinking we’d add something that’d take all 3 forms:

bills(sponsor: {primary: true, name: “Jones”})

bills(sponsor: {primary: true, id: “ocd-person/1234”})

bills(sponsor:  “Jones”)

[2017-12-21 22:00] jamesturk commented on #42
Going to move this to openstates/new-openstates.org#11

[2017-12-21 22:02] jamesturk commented on #37
Redesign is pushed to 2018 and geoserver is coming in January

[2017-12-21 22:03] jamesturk commented on #25
We’re going to a static file based boundary api, @mileswwatkins will tackle

[2017-12-21 22:05] fareast555 commented on #42
That's awesome news. Very glad to hear it!! Thanks!

[2017-12-21 22:11] estaub commented on #43
Mostly, I have to plead blindness!  I'm not sure how I missed so much.

Yes, I happened to look for updatedSince on people.  I think it's deferrable there, though.

Folks have asked for votes under legis, fwiw.

I'm a little worried about the size of roll-calls in this format.

[2017-12-22 04:46] jamesturk commented on #24
CORS is fully supported in API v2, we've decided not to make this a feature of v1

[2017-12-22 04:49] jamesturk commented on #23
I've opened a feature against the new API for this, I think we should allow getting the latest votes for a person 👍

[2017-12-22 04:51] jamesturk commented on #43
Opened openstates/new-openstates.org#16 for votes under legislators and openstates/new-openstates.org/#17 for updatedSince elsewhere

What sort of concern about the size of roll calls?

[2017-12-28 05:53] mileswwatkins opened #58 "VT: Switch to using official API"
Vermont's got an official API now, which we should look into leveraging it. Requesting a key to check it out.

https://legislature.vermont.gov/docs/api/v1/index.html

[2017-12-28 17:49] benjamin-brown commented on #58
That's very interesting! Thanks for the heads up, @mileswwatkins !

[2018-01-19 07:23] openstates-bot opened #51 "Model consent calendar votes (SD & PA examples)"
SD has been failing since 2018-01-13

Based on automated runs it appears that SD has not run successfully in 7 days (2018-01-13).

[code]

Visit http://bobsled.openstates.org for more info.

[2018-01-19 17:43] estaub commented on #51
On the page for HB 1035,
http://www.sdlegislature.gov/Legislative_Session/Bills/Bill.aspx?Bill=1035&Session=2018 ,

the roll call link to the vote on 1/17/2018 points to
http://www.sdlegislature.gov/Legislative_Session/Bills/RollCall.aspx?Vote=24556&Session=2018,

which is a roll call for HB 1020, not HB 1035.

I have notified the legislature.  Assuming they fix it, no further action should be nee

[2018-01-19 18:35] mileswwatkins commented on #51
I emailed the legislature too, and committed a check/warning/skip in the VoteEvent scraping. There ended up being at least eight different cases of mis-attributed votes.

[2018-01-19 18:44] mileswwatkins commented on #51
Reply:

I'm following up to confirm. @jamesturk, is there a way to attribute one `VoteEvent` to _several_ bills?

[2018-01-19 18:52] mileswwatkins commented on #51
Got an affirmative from Scott at the SD legislature, when I asked to confirm:

[2018-01-19 18:52] jamesturk commented on #51
There isn't right now, so they're saying this vote that says 1020 is actually on multiple bills?

http://www.sdlegislature.gov/Legislative_Session/Bills/RollCall.aspx?Vote=24556&Session=2018

[2018-01-19 18:53] mileswwatkins commented on #51
Yup, @jamesturk. It should probably have a header of `Consent Calendar, Senate — 2018` instead of `HB 1020, House, Do Pass — 2018`. I'd pointed out that:

[code]

And Scott said that was expected since they were consent calendar votes.

[2018-01-19 18:54] estaub commented on #51
The bills have a hint as to what's going on from the prior "Placed on consent, Passed " voice vote.

[2018-01-19 18:55] mileswwatkins commented on #51
_Some_ CC votes have appropriate headers, like: http://www.sdlegislature.gov/Legislative_Session/Bills/RollCall.aspx?Vote=24499&Session=2018

[2018-01-19 18:56] estaub commented on #51
Regardless of SD's shabby handling, we can't model consent calendar votes now, right?  That seems likely to be an issue elsewhere too.

[2018-01-19 19:01] estaub commented on #51
"Can't model" (above) is probably too strong; afaict it's just that the no-duplicates validation is being tripped.

[2018-01-21 04:48] mileswwatkins commented on #51
Renaming this thread, since we have the conversation here already, but SD's back up.

[2018-01-21 20:46] mileswwatkins opened #65 "NM: Update votes scraper (was: Fix individual members' votes in House PDFs)"
New Mexico serves its votes in PDFs ([directory](https://www.nmlegis.gov/Sessions/18%20Regular/votes/)), and we try to parse their tables using the `x` and `y` coordinates of the `X` checkmarks.

Unfortunately, at least for one of the 2018 session's House vote PDFs, the rows in the LXMLized vote PDF don't line up; that is, one of the vote checkmarks has a `y` coordinate that differs from its membe

[2018-01-21 20:50] mileswwatkins commented on #65
Here's a clean-ish version of the scraped `rows` for [one problematic House vote PDF](https://www.nmlegis.gov/Sessions/18%20Regular/votes/HB0001HVOTE.PDF):

[code]

The scraper warns:

[code]

[2018-01-21 21:07] estaub commented on #65
Yeah, that's certainly nudgable.  I'm curious about the PDF source; I wonder if it's OCR, or they used some WYSIWYG form generator and were sloppy.

[2018-01-22 03:48] mileswwatkins commented on #51
Another case of consent calendar, in PA: https://github.com/openstates/openstates/blob/d9d6905704f715c2d78428cb824e1aa8cf3926f2/openstates/pa/bills.py#L265

[2018-01-25 05:12] todrobbins commented on #38
@jamesturk what's the PO box? 😄

[2018-01-27 03:11] jamesturk opened #44 "Consideration of Forward-Porting Options"
As we approach the time to make the transition from API v1 (& old infrastructure) to API v2 (& new infrastructure) there are a few pressing questions that have an impact on how we go forward from here.

1) How far back will we preserve data?  (we've said we intend to at least bring over current sessions)
2) How will we preserve Open States IDs?  (we've said we intend to do so)
3) How long will we

[2018-01-27 03:32] estaub opened #45 "Throttling guidance on v2 API"
I don't need an answer on this now; I'm posting it just to start thinking about it if it's not already under consideration.

The v1 API guidance of 60 RPM may be too heavy for some queries.

You may want to provide guidance on what's fast/easy and what's not.

[2018-01-29 03:07] mileswwatkins commented on #44
Yeah, I think I agree that A is the best plan. I mean, it's what we've been aiming for all along, and we have to get there at some point! Let's talk about timeline at our next meeting.

[2018-02-06 08:13] heyitsolivia opened #38 "Add vote card component"
Each vote card summarizes a vote taken on a bill with the following:
- Bill number
- Description of vote result
- How a legislator voted

[2018-02-06 17:15] mileswwatkins opened #17 "Add transformers to strip whitespace for most string fields"
Now that transformers are in production (https://github.com/opencivicdata/pupa/pull/305), opening this issue to add the whitespace-stripping that you'd mentioned, for all fields where trailing spaces wouldn't make sense.

[2018-02-14 07:40] estaub commented on #46
Given what @mileswwatkins and you have written elsewhere, I'd guess that there's unlikely to be any significant effort this year to fix chambers where roll calls either aren't working at all or don't resolve to legislators.  Is that correct?

The current count is about 28 chambers; see https://github.com/openstates/openstates/issues/1903#issuecomment-365520559 for a list.

[2018-02-14 15:09] jamesturk commented on #47
All of our information is sourced from official sources (state legislative websites) and as such this isn't applicable to us.

[2018-02-14 15:59] jamesturk opened #59 "MA needs a vote scraper"
State: MA

needs investigation, no MA VoteEvents in DB

[2018-02-14 16:01] jamesturk commented on #66
after looking at this, we only have 69 recorded votes for MO and all are classified as legislature

[2018-02-14 16:55] jamesturk commented on #46
The missing vote scrapers are high priority, I didn't realize we didn't
touch any of them during this year's scraper push but I've tagged them &
filed some new ones.

Name matching is going to be overhauled as part of the new DQ tools, so the
unmatched legislators will probably wait until after that, but I'd expect
to see that improve later this year as well.

On Wed, Feb 14, 2018 at 2:40 AM, Ed S

[2018-02-16 17:25] showerst commented on #48
I'm not sure if it's a good match for OS's update pipeline, but we keep an update log table that looks like:

| primary_key  | content_type_id  | content_primary_key  | jurisdiction_id | chamber_id  | update_type_id  |  datetime  |
|---|---|---|---|---|---|---|

where the content_type_id maps to bills, events, etc, and the update_type_id maps to sql, elasticsearch, etc.

With that kind of log you

[2018-02-22 07:19] hulk-baba commented on #17
@jamesturk, the tracking of changes can be done via a distributed ledger a.k.a blockchain. Blockchain has been used to solve provenance of medicines/diamonds [everledger did this](https://www.everledger.io/). Similar things can also be employed to solve this problem, This can be a standalone project. I am currently working on solving provenance of medicine as my final year project. Please let me k

[2018-02-22 15:40] jamesturk commented on #17
I don't think we'll be employing the blockchain for this one, a simpler log will suffice just fine

[2018-02-23 00:37] mileswwatkins commented on #58
(Currently supports only bill endpoints.)

[2018-02-24 10:26] In-vincible commented on #17
@jamesturk My last year's proposal was based on this description only, are we working on it this year?

[2018-03-03 14:16] In-vincible commented on #58
@mileswwatkins should I try writing one bill scraper or whatever we want to call it, via APIs. For getting the API key I couldn't find direct registration process, I think You have to send mail to IT@leg.state.vt.us.

[2018-03-03 14:18] In-vincible commented on #65
@mileswwatkins is this solved?

[2018-03-04 17:40] mileswwatkins commented on #58
Yup, if you want to replace the `vt/bills.py` module with code that points at the new API, go for it! You may want to look at other states that use REST APIs, to see how they structure their scraping code, or instantiate an API client locally.

[2018-03-04 17:42] mileswwatkins commented on #65
@In-vincible, no, my PR just changed the code to skip votes that were troublesome, which is why I spun off this ticket.

https://github.com/openstates/openstates/pull/2103/files#diff-d57e2d82487395e5ff5349aea8c56550R273

[2018-03-16 21:15] mileswwatkins commented on #58
I looked into this a bit; from what I can tell, the API isn't _quite_ ready for us to use. I'm reaching out to the developers to see if I'm mistaken, and see if there's a public development roadmap that they could share.

One example issue is that their `/bill/list` endpoint _only_ lists bills, _not_ resolutions, so we wouldn't even be able to switch over to that entirely for our `Bill` scraping.

[2018-05-04 04:32] estaub commented on #49
Me again.  You probably saw http://docs.openstates.org/en/latest/api/v2/examples.html#get-all-information-on-a-particular-bill , in which case you understand that batch queries can avoid latency concerns.

But - you can do even better!  @jamesturk you may want to update the example, just so folks don't have this question.  Here's a rewrite of the example, using a _fragment_:

[code]

Reference: ht

[2018-05-06 03:38] EricPaulson commented on #49
Wow, **fragment** is new to me, and will accomplish just what I want. I did see the example you linked, but my concern was sending a massive query over the wire if I wanted to query, say, 1000 bills. That would have meant repeating the bill stuff 1000 times. But this totally solves that. Thanks!

[2018-05-16 20:36] jamesturk commented on #43
updatedSince is now avilable on people too, going to close this one but feel free to open related issues on the API v2 repo

[2018-05-16 23:34] estaub commented on #45
Yeah, node-count sounds close.  I think there may be reason to have a "discount" for some tiny ones; in particular, when someone just fetches the ID.  I'll circle back on that in a week or two.

[2018-05-17 20:18] In-vincible commented on #59
Continuing with this one @jamesturk

[2018-05-17 23:13] estaub commented on #66
I just renamed this to reflect the current status.  I don't know whether there are unresolved votes; my stuff strips them out immediately as useless.

[2018-05-18 14:28] showerst commented on #66
for future reference here's a sample vote roll-call PDF: https://house.mo.gov/BillTracking/PDFViewer/web/viewer.html?file=/billtracking/bills181/jrnpdf/jrn025.pdf#page=12

I haven't researched every edge case but I'd call that "borderline unscrapeable".

[2018-05-19 04:14] estaub commented on #66
I've turned the Senate vote scraper back on (merge pending).  See openstates/openstates-scrapers#2315.

[2018-05-20 05:08] In-vincible commented on #59
Votes information is not available the bills page anymore, nor the actions information.
example bill link:https://malegislature.gov/Bills/190/H1485, in case anybody want to double check.

[2018-05-21 15:06] estaub commented on #59
Hmm... some votes are there: https://malegislature.gov/Bills/190/S2371/BillHistory.  And the journals seem to still have them.

[2018-05-24 18:30] In-vincible commented on #59
Others bills with roll call, that I found:
https://malegislature.gov/Bills/190/H1110
https://malegislature.gov/Bills/190/H1120
https://malegislature.gov/Bills/190/H1697
https://malegislature.gov/Bills/190/H1100

I almost run the bill scraper for 5-6 hours it still didn't complete.

[2018-05-24 18:43] estaub commented on #59
All the roll calls cited thus far are for Senate votes.  When I poked around 3 days ago I only found Senate roll calls too; at the time it seemed very possibly coincidence, so I didn't mention it.

[2018-05-24 19:04] estaub commented on #59
Ok, here's an example of a House roll call.
On the bill page, https://malegislature.gov/Bills/190/H4479, there's no Roll Call tab.
However, there is this Action:

Note the `348`.
If you watch the HTTP (using Chrome Dev Tools "Network" tab or whatever) from a "Download Roll Call" for Roll Call 348, from https://malegislature.gov/Journal/House, you can see that it's a straightforward form request.

[2018-05-24 19:48] In-vincible commented on #59
Did check it @estaub looks difficult since they have

```__RequestVerificationToken ```  parameter in cookies.
It might be hackable but doesn't seem to be the fair way to do it, apparently they don't want it that's why they have verification systems.

[2018-05-24 20:31] estaub commented on #59
@In-vincible I wouldn't infer that they are trying to deter scraping; it may be generic support in their platform, and/or to control access to certain non-public features that we aren't accessing; note the "My Legislature" sign-in behind the user icon at upper right.

I'm not sure the cookie-handling is difficult, either.  In fact, it may be handled for free, or nearly so.  I'd check with @jamestu

[2018-06-03 20:49] In-vincible commented on #57
Looking into this.

[2018-06-22 13:27] JasonWeakley opened #60 "TN: Additional resource for final version of bills."
State: TENNESSEE (be sure to include in ticket title)

I work for the Tennessee Department of State as a developer, and want to add a resource from the Secretary of State's website where the final version of all acts and resolutions of the legislature are kept.

https://sos.tn.gov/division-publications/acts-and-resolutions

They are in PDF form, but I would love to know how we can make this data m

[2018-06-22 15:08] showerst commented on #60
This is great -- thanks for posting Jason!

Just speaking for myself here, the largest things TN DoS could do that would help make data accessible:

1. Plaintext or HTML versions of these documents. Pretty much any consumer is extracting plaintext from the PDF anyway to make them searchable and do analysis, so having a format that makes that easy is a big help, even if it's not the legally officia

[2018-06-25 16:05] JasonWeakley commented on #60
I will make a note of 1 & 2 as issue/story cards in our sprint backlog, but as for the General Assembly's website, they are their own IT office, and they support the Clerk's office. I do not know how or what they do what they do. But I agree with you, it would be nice to have it in a different format, even from a visitor's POV its not that easy to sort/search. Thank you for the wishlist items!

[2018-07-22 20:33] Flaque commented on #24
Currently getting this issue on API v2:

[code]

Which leads to an error like:
[code]

[2018-08-03 02:54] ilyagerner opened #61 "CT: Missing Vote Data for Lower Chamber"
State: CT

Votes seem to be missing from the CT lower chamber between [July 20, 2015 and February, 2018](https://openstates.org/ct/legislators/CTL000044/votes/?page=38). I assume this is related to openstates/openstates-scrapers#1803, wherein the issue was fixed but the old data never scraped.

Also, this is my first time opening an issue anywhere, so forgive me if anything about this note is impr

[2018-10-09 19:49] jamesturk opened #43 "path to making start/end dates on memberships required"
they should probably be required on roles (& committees?) but we don't have historical data for them

- [ ] add a warning
- [ ] fill out historical data
- [ ] turn warning into error

[2018-10-10 14:45] jamesturk opened #46 "add executive data & handle them in import script as well"
since this isn't in existing Open States data we can go forward without this since we've at least decided how it'll be done but a reminder to return to this once we're further along

[2018-10-15 17:20] jamesturk opened #41 "add a script to bulk update certain people fields"
use case: someone has a CSV of Twitter Accounts or IDs that they can tie to our IDs, but manually editing each YAML file would be tedious/error prone

probably the best way to do this would be to take a CSV as input that updates all of the values

[2018-10-18 13:12] jamesturk commented on #22
we've been serving IL data in the new API for a while now, so closing this one

[2018-10-18 14:08] fgregg commented on #22
awesome!

[2018-10-19 19:49] jamesturk commented on #41
while updating legacy_openstates IDs I added the rough outline of this work in manual_data.py

[2018-10-23 03:45] jamesturk commented on #41
OS person Ids are now available in API v2 in the identifiers data 👍

[2018-10-23 03:49] jamesturk commented on #44
Updating this w/ more current answers:

- How far back will we preserve data? (we've said we intend to at least bring over current sessions)

OCD db has latest data and data is being backported to v1 until we shut it off

- How will we preserve Open States IDs? (we've said we intend to do so)

We're doing this via the people repo now, and we'll make no guarantees for non-person IDs (committees & e

[2018-10-30 03:51] jamesturk commented on #44
https://beta.openstates.org/api/v1 is live, closing this one at last

[2018-10-30 03:51] #44 closed

[2018-10-30 14:16] jamesturk commented on #46
moving over remainder to #50

[2018-10-30 14:19] jamesturk commented on #25
https://github.com/openstates/openstates-district-maps/issues/11

[2018-10-30 19:57] jamesturk opened #37 "create a public status page"
originally reported by estaub as openstates/admintools#35

It would be really nice to have a public server that shows summary metrics for each state/session.  I'm sure some of these are already in admintools, but in the absence of any doc (AFAICT), here are examples:

- most recent vote successfully scraped
- most recent bill update date/time
- per-chamber legislator-vs-seat validation: are there

[2018-10-30 20:01] jamesturk opened #3 "standardize a list of scrape options"
all arguments are optional but we should define the ones that people should use in various circumstances:

session
chamber
prefiles (see openstates/openstates#1205)
start/end dates

[2018-12-13 16:35] estaub opened #36 "[API] Enumerate the districts of a chamber?"
Currently the only way to get all the districts for a chamber in V2 is to walk the legislators. This fails when a seat is vacant or the legislator data is in error.

Consider adding a "posts" connection to OrganizationNodes, which is probably null for all organizations that aren’t chambers.

It's a connection, not an array, because in the future I suspect that we may want a "currentHolders" member

[2018-12-19 06:04] jamesturk commented on #38
I think this is covered in the current styleguide's timeline component (or is this used somewhere else?)

[2018-12-19 14:40] heyitsolivia commented on #38
Good question, I think it depends on if we still plan on building the mini vote-breakdown chart on these cards? Not fully sure what we decided to do based on these notes:

<img width="1257" alt="screen shot 2018-12-19 at 9 33 10 am" src="https://user-images.githubusercontent.com/1198350/50226423-221ca080-0371-11e9-9e58-605133a648ca.png">

[2018-12-19 16:29] estaub commented on #38
fwiw, I _suspect_ @jamesturk 's underlying need is for the rendering to make **yes** vs **no** easily comparable at a glance.  So even, say, a pie chart that starts at 3 o'clock, 6, 9, or 12, with _yes_ and _no_ on opposite sides of that break, would fulfill that need a little better.  I'm _not_ recommending that - just trying to widen the universe in case something better comes to mind.  A plain

[2018-12-19 16:57] jamesturk commented on #38
I forget if that was my comment or Miles' 😄 but I'm happy with it as-is or as separate bars.  I think it gets the point across pretty well and a person can click through to get the more detailed breakdown, these are just overviews after all

[2018-12-19 17:03] estaub commented on #38
If you mostly leave it be, consider putting the "other" in the middle, instead of at the end, and a grayed ▲ (& #9650;) "fulcrum" triangle underneath at the exact midpoint of the entire bar.  That way the brain's asymmetry detector can kick in to compare "yes" and "no".  (Seriously, feel free to ignore my input - just trying to help!)

[2019-01-03 19:04] showerst opened #18 "Standardize vote types"
Vote data has some discrepancies in the vote type classification.

[code]
etc.

We should standardize all of these so they match the docs, and probably build in a pupa check for them.

[2019-01-07 05:03] jamesturk opened #35 "add folding for long bill sections"
https://openstates.org/nc/bills/2017E3/HB3/ & https://openstates.org/nc/bills/2017E3/SB3/

are great examples of where this would make sense

[2019-01-07 05:04] jamesturk opened #34 "add party breakdown to vote bar charts"
see openstates/openstates.org#32 for original concept

[2019-01-10 00:04] nickoneill opened #54 "Check NV phones"
New NV reps didn't have phones on the site yet, names and offices are correct already.

[2019-02-08 17:24] estaub commented on #36
I'm not sure whether I just missed this, or it was added.  In any event, the districts are now available as organization members of the chamber.  For example:

[code]

Closing.

[2019-02-09 16:30] estaub opened #6 "DC: at-large seats: no boundary file"
State: DC

The DC at-large seats have a division ID of `ocd-division/country:us/district:dc`.  There is no S3 boundary file for the district as a whole.

[2019-02-12 14:19] estaub commented on #36
My bad: the query above is querying members, not posts, I just didn't ask for e.g. `personName`.

[2019-02-12 14:50] estaub opened #32 "Add updatedAt (latest scrape time) to JurisdictionNode"
The V1 API made available for each state the date of the most recent scrape.  It would be useful to include that on the V2 JurisdictionNode as well.

[2019-03-04 22:33] easherma commented on #62
@jamesturk + @mileswwatkins  I am volunteering for an Illinois-based non-profit called https://www.statematters.org/

We are very interested in being able to more easily provide schedules of upcoming hearings. @jonrogoff could probably clarify, but I believe their project did end up writing a scraper for this, but I would love to hear more about the feasibility of adding it to Open States directly

[2019-03-05 01:42] jonrogoff commented on #62
Just to update some of the info above, the basic data structures unique to witness slips are:

Hearings which have:
Type (bill vote or subject matter)
Description (subject matter only)
Committee
Date
Bills (with associated Votes)

Witness Slips which link a Bill to a Hearing and provide Signatures:
Bill
Hearing
Signatures

Signatures which have:
Name
Affiliation (self, lobbying group represented,

[2019-03-05 16:18] showerst commented on #62
@easherma @jonrogoff Thanks for reaching out!

Adapting your data to OS sounds like it shouldn't be too bad -- our data models are fairly similar. So far this year we haven't been feeding event data into the api, because we've been short on developer hours to keep the scrapers maintained, and we're trying to lower the volunteer workload of the project.

@jamesturk if we verify this works are you o

[2019-03-19 01:32] jamesturk commented on #62
Sorry for the delay.

We aren't exposing events via the API anymore, so we'd need to find some
support to get that added.  I could be convinced to re-enable scrapers but
I think the API would be a bigger obstacle.  If there's an appetite to work
on that though I'd be glad to discuss what it'd take.

On Tue, Mar 5, 2019 at 11:20 AM showerst <notifications@github.com> wrote:

[2019-10-07 17:24] estaub opened #31 "No good way to order votes chronologically; VoteNode.billAction, BillActionNode.vote is null"
[This Discourse post](https://discourse.openstates.org/t/database-query-for-final-passage-vote/454/3) by [dsal1951](https://discourse.openstates.org/u/dsal1951) reported difficulty in analyzing vote events for bills, in part because there are often several `passage` votes on a bill on one day, the exact time of each vote is often unavailable from the state, and there is no `order` field on `VoteNo

[2019-10-07 18:41] dsal1951 commented on #31
Thanks for posting this.  Here are some bill ids with hundreds of passage events.  It makes sense for some bills to have a couple of passage events, but it appears passage is being applied to amendments and even simple procedural motions.

`'ocd-bill/afe6f48a-ba68-4bc5-b6c6-a37ce074bcd8',
 'ocd-bill/8a314e98-babe-4e97-aa6f-a42a33e7c1d3',
 'ocd-bill/b23964a0-ae86-4ae0-90de-c798bc3082a5',
 'ocd-bill

[2019-10-07 22:39] estaub opened #19 "Vote classifications are seldom parsed, hardcoded as "passage""
State: most

The VoteEvent motion classification on most scrapers appears to be hard-coded to "passage".  Getting a good classification is often hard.  Here are the motion classifications that occur in the database (as of the June 2019 dump):

| State | motion_classifications |
| ---------------- | -------------------- |
| Alabama | passage |
| Alaska | passage |
| Arizona | passage |
| Arkansas |

[2019-10-08 15:05] estaub commented on #31
A much easier but kludgy way to address this would be to encode a voteEvent ordinal into the `start_date` and `end_date` when they are otherwise date-only (i.e., at midnight).  Probably the best encoding would be to add the ordinal to the *_date (when date-only) as a number of seconds.

The virtue of this is that it requires no model change, and no change in API clients.

I'll put in a PR for this

[2019-10-08 16:42] jamesturk commented on #31
I think that'd work well for backwards compatibility, but it might be wise
to also begin the process of adding this to the schema.  It seems like a
common use case

On Tue, Oct 8, 2019 at 11:05 AM Ed Staub <notifications@github.com> wrote:

[2019-10-20 17:18] neilberkman commented on #36
Adding a +1 here. I was just looking for a way to do this.

[2019-11-13 03:20] jamesturk commented on #61
@schneidy can you look at if we're still not getting lower chamber votes for the current session?

[2019-11-18 05:48] Theotwelve opened #30 "Add back link to Recent Votes for legislator's person pages"
**Is your feature request related to a problem? Please describe.**
Site no longer offers useful link to a legislators "Recent votes", nor is there a readily apparent nor intuitive method of looking up their recent votes

**Describe the solution you'd like**
Inclusion of the previous version of the site's "Recent votes" feature in the new site

**Describe alternatives you've considered**
Looked thr

[2019-11-20 21:18] jamesturk opened #8 "fix California Senate PDFs"
we're getting an HTML page with JS on it that redirects to the JS, need to sort that out

[2019-11-20 23:05] jamesturk opened #7 "automated test plan for text-extraction"
- [x] write test command
- [ ] pare down test set for each state to ~20 or so (try to aim for ~50MB repo size)
- [ ] check in files
- [ ] CI

[2019-12-07 19:47] jtheletter opened #53 "CA: add contact forms"
1. Start from this page: https://openstates.org/find_your_legislator/
2. Search a ZIP Code, eg 94102.
3. Two results are David Chiu (https://openstates.org/person/david-chiu-1WhREusEhFgrkJ30eOrT70/) and Scott D. Wiener (https://openstates.org/person/scott-d-wiener-6lsgrCgvjfspYcr3jpsa5e/).
4. Results pages for each lawmaker include phone and mailing address, but no means of electronic communicatio

[2019-12-19 04:54] jamesturk commented on #53
This is actually a data issue, if you can help us collect the data in openstates/people we can display it for California legislators.

[2019-12-24 14:29] schneidy commented on #61
@jamesturk It does not look like votes are included on the individual bill pages for the current session. However, you can find some of the votes via the communities ([example](https://www.cga.ct.gov/asp/menu/CommDocList.asp?comm_code=ed&doc_type=ts)).

[2020-01-08 22:03] jamesturk opened #39 "advanced address linting"
Modify lint_yaml.py to do some advanced checks on contact_details

A few rules that might make sense:

- [x] only one capitol office
- [x] if there are multiple district offices but they can be combined (e.g. one has phone, one has fax, etc.) suggest doing so (warn)
- [x] if there are multiple district offices that can't be combined, don't warn
- [x] disallow duplicate values within a person (with

[2020-01-08 22:18] jamesturk commented on #39
It might also make sense to make some schema adjustments:
- promote email to top level (what % have more than one, of those how many are correct?) (#151)
- [ ] switch contact_details[...] to capitol_office and district_offices

[2020-01-14 20:46] jamesturk opened #22 "Associate people with votes & sponsorships"
This is a big issue, encompassing quite a few others that'll be closed & merged into this.

There are a few steps:
- [x] generate lists of unmatched legislators - WIP
- [x] new command to sync voters with latest name matches in the openstates/people repo
- [x] updates in openstates/people to add those aliases to the specific people
- [x] ensure pupa uses the matched names
- [ ] actually do the mat

[2020-01-18 06:31] azban opened #47 "parallelism in scraping?"
State: n/a

don't know where the correct place for this is given guide, but let me know if i should address this elsewhere.

the MA scrape is quite slow (~12hrs) and i'm guessing other states are slow because of the single threaded nature of pupa/scrapelib. this makes it harder for developers to test that their changes are not causing regressions, and also presumably costing $$ for compute.

- has

[2020-01-18 07:07] jamesturk commented on #47
MA is by far the worst offender in this regard, but yes some others are slow too.  The biggest slow down in many cases isn't actually the non-parallelized version of the code- but the sleep calls between each scrape.

They are there because many states have asked for them, and quite a few have blocked us or even fallen over with modest request volume when they've been off.  Our policy has been to

[2020-01-18 07:42] azban commented on #47
thanks for the context. i figured there was some relevant history involved..

i wasn't suggesting a concerted effort towards rewriting.. but was wondering if there were opinions on making optimizations to the existing framework or moving to a new framework on a per case basis.

sounds like regardless of preference, the decision requires some interaction based on existing relationships.

one nice t

[2020-01-18 18:31] showerst commented on #47
RE:incremental, a few states do let you sort by 'updated at' (usually last action date), so in those we can do something like "only check for changes in the past 24 hours, and do a just-in-case full scan on sundays" or something.  If you search the code base for "window" I've implemented that in New York. I hope to get that into every state where it's applicable this year.

I think MA has this sor

[2020-01-22 05:50] jamesturk opened #29 "subscriptions: add ability to track legislators"
- [ ] add UI for "starring" legislators
- [ ] add email alerts for activity related to that legislator (skipped for beta 1 because still figuring out what'd be most useful)

[2020-01-22 05:53] jamesturk opened #27 "subscriptions: add ability to track query for all states"
query will be a bit more expensive, will need to play with UI for filtering bills on all bill search

[2020-01-22 19:15] jamesturk commented on #60
Hi @JasonWeakley - I wanted to check if any of these changes are still planned

[2020-01-22 20:05] jamesturk commented on #59
a renewed investigation showed that there still aren't great sources for votes in MA, this might need to be one we pressure them on

[2020-01-30 18:57] schneidy commented on #65
Spacing issues still exist within PDFs. Sometimes a yes vote is categorized as a no vote. Example: https://www.nmlegis.gov/Sessions/19%20Regular/votes/HB0256HVOTE.PDF

[2020-02-06 18:39] jamesturk opened #25 "use openstates/metadata for speed improvements"
- [ ] jurisdiction lookup
- [ ] organizations by ID

[2020-02-26 19:53] schneidy commented on #57
@jamesturk According to their [website](https://www.leg.state.mn.us/lrl/guides/guides?issue=ratings), no votes for Senate bills are available unless we were to scrape the daily journals.

However, I would like to point out that they reference OpenStates as a place to view house votes.

I'm still working on adding in 2019-2020 information for votes.

[2020-02-27 03:52] csnardi commented on #22
I know the effort is on-going to add related names for legislators in YAML, but I was curious if there was a more programmatic way to do this in pupa to prevent future work.

Looking at the pupa code, it seems the matching query originates [in the people importer](https://github.com/opencivicdata/pupa/blob/master/pupa/importers/people.py#L45-L46). It also seems many of the states that don't have v

[2020-02-27 15:33] jamesturk commented on #22
I think including family name would be a great call here, now that we're
actually populating it!

On Wed, Feb 26, 2020 at 10:52 PM Chris Nardi <notifications@github.com>
wrote:

[2020-03-05 17:57] jamesturk commented on #58
following up with the developers as well, to see if anything new came about since 2018

[2020-03-05 18:05] benjamin-brown commented on #58
I've been checking in periodically, don't see any new changes with VT's API page
https://legislature.vermont.gov/docs/api/v1/index.html#

Haven't spoken to developers though, so not sure if this is all they have, or if maybe there's more that just isn't publicly available yet...

[2020-03-11 17:46] jamesturk commented on #58
I tried to reach out to them, no response yet.  Marking this issue as upstream though since it isn't ready for primetime as-is.

[2020-03-13 15:02] showerst opened #55 "Future: Duplicate versions/documents as warnings?"
State: All

(Wasn't sure which project to drop this in, feel free to close or move)

We've spent a lot of time over the years fixing duplicate version/document errors, to the point where I just default to on_duplicate='ignore'. We almost never want the whole scrape to fail over a dupe version/amendment/document link, and they often popup mid-session.

I think we should change the default for that

[2020-03-13 15:59] jamesturk commented on #55
Yeah this seems right to me too.

[2020-03-18 19:31] showerst opened #67 "IA: convert to action classifier, remove case sensitive"
State: IA

We're missing some action classifications (ex: SF 2408 we're not catching the governor signature) because they're currently case sensitive and the state stopped being consistent about case.

TODO: Convert the action classifier to a case insensitive classifier function.

[2020-03-23 18:18] jamesturk commented on #22
As of March 23rd: names=21416 votes=22499832 sponsorships=28707

Just upgraded to pupa 0.10.1 with family name matching, will update after states have run.

[2020-03-24 14:56] jamesturk commented on #22
after most states ran w/ last name check

names=21171 votes=20492868 sponsorships=26704

~10% reduction overall, a historical run of the name matching as-is will probably be another 20-30%

[2020-03-24 16:09] csnardi commented on #22
From looking at the names that still aren't matching, two things jump out:

- Case-insensitive matching would help (e.g. WY, WI)
- For those with common last names, start/end date matching would exclude those from other sessions. With the new change to match last names, multiple legislators will be returned even if the last name was added as an other name. Even matching only other names would be p

[2020-03-24 18:25] jamesturk commented on #22
👍 i'm thinking along similar lines, I'm doing a run that knocks out the historical ones that now match based on last name first, but after that I think we can push forward on these cases, and then leave manual matching for a hopefully fairly small %

[2020-03-26 04:24] jamesturk opened #24 "make roll calls sortable by party"
after openstates/openstates#3102 -- make roll calls sortable by party

[2020-03-27 18:51] jamesturk commented on #22
after a historical run (and a fix to the sponsorship count code)
names=14349 votes=9171199 sponsorships=1143511

~33% reduction in names, and over 50% reduction in unmatched votes!

[2020-03-27 18:54] jamesturk commented on #22
also as a note-to-self

ran

`create index on opencivicdata_personvote (voter_name);`

might want to make this permanent

[2020-03-27 21:29] jamesturk commented on #17
started work on this and realized that the way that psuedo_ids get generated makes this harder than it should be if done on import-side

it seems like if we alter things to have a clean-up happen on the scrape side we'd be in better shape overall (especially as we look at replacing pupa import altogether)

[2020-03-27 23:53] showerst commented on #17
<possible stupid question incoming> is there a use case for _not_ just doing a .strip() on all string fields on object save?

I'm generally against that kind of backend magic but I can't think of a case where you'd want to preserve padding or newlines on any of this data's start/end boundaries.

[2020-03-31 20:05] schneidy opened #48 "NC: Add Historical Legislators"
Add North Carolina legislators in historical sessions.

Details on each legislator in every session from 2001 - present can be found within PDFs here:

House - [https://www.ncleg.gov/Documents/9/#Documents](https://www.ncleg.gov/Documents/9/#Documents)
Senate - [https://www.ncleg.gov/Documents/10/#Documents](https://www.ncleg.gov/Documents/10/#Documents)

[2020-03-31 20:16] schneidy opened #49 "IL: Add Historical Legislators"
Add Illinois legislators in historical sessions.

Listing pages can be found online all the way back to the 93rd session (2003-2004).

Links to the listing for the 93rd session can be found here: [http://www.ilga.gov/previousga.asp?GA=93](http://www.ilga.gov/previousga.asp?GA=93)

[2020-03-31 20:48] schneidy opened #64 "MD: Sponsor name issues (historical only)"
MD has sponsor names that are two last names joined by an "and". Example: "West and Lafferty".

Sessions affected: 2017, 2018, 2019

[2020-03-31 22:20] schneidy opened #63 "NE: Sponsor Name Issue (historical only)"
Nebraska has "Senator" before legislator's names in the sponsorship name columns.
Example: Senator Lindstrom

Sessions affected: 105

[2020-04-03 16:22] schneidy commented on #64
@jamesturk It looks like the code to take care of this is already in place. Can you rerun 2017, 2018, and 2019 on your end?

[2020-04-03 19:00] schneidy commented on #63
@jamesturk Once the pull request is merged in, we should run session 105 again as I don't seem to be finding the errors popping up for sponsors or voter names.

[2020-04-03 19:10] jamesturk opened #10 "require dates on sessions"
per opencivicdata/pupa#314

we're pretty close to having all of them set, once they are we can tighten this constraint

[2020-04-03 19:12] jamesturk opened #12 "expansion of VoteEvent.classification enumeration"
see opencivicdata/pupa#153 and related issues

[2020-04-03 19:22] showerst opened #14 "Inventory extras"
We should grep through the codebase for any place we're adding 'extras' to an object, and see if that deserves a better structure, or is best left as an extra.

I can take this on in the coming weeks.

[2020-04-03 19:32] showerst opened #15 "Changes to the version/document data model"
I propose we add an enum to versions and documents to clearly identify some common version/document types --

Versions: amendment, substitute, enrolled, "final one that became law"
Documents: fiscal note, committee report, synopsis

[2020-04-03 20:11] jamesturk commented on #64
@schneidy i'll close this type when the historical run is good

[2020-04-08 19:09] jamesturk opened #16 "add tests for os-initdb"

[2020-04-16 20:34] schneidy opened #50 "CA: Add Historical Legislators"
Add California legislators in historical sessions.

Legislator info can be found in each year's database back to 1999. The information is stored within legislator_tbl.

Available data from legislator_tbl:
district, session_year, legislator_name, house_type, author_name, first_name, last_name, middle_initial, name_suffix, name_title, web_name_title, party, active_flg, trans_uid, trans_update, activ

[2020-04-21 21:14] brybeecher opened #52 "Social media data for legislators"
I'm interested in social data for state legislators. A quick github search and it looks like only PA has this. Can this be added to other states by contributors? Is it required to be scrape-able from state legislature websites? Thanks!

[2020-04-22 06:11] jamesturk commented on #52
Glad to accept contributions, do you have an idea of what states and social
media providers you'd tackle?

Not sure how comfortable you are with Python, but depending on what's
easiest if you can gather it in a spreadsheet or similar we can help with a
script to add it to files.

On Tue, Apr 21, 2020 at 5:14 PM Bryan <notifications@github.com> wrote:

[2020-04-22 16:39] brybeecher commented on #52
For states, initially NM. Likely ID, OK, CO. For social media platforms, just Facebook, Twitter but potentially more if I find another platform is broadly used.

I'm no good with python but I will collect the data in csv, json or yaml. I can probably merge w/ the person yaml files via NodeJS script. Thanks!

[2020-04-23 19:53] jamesturk commented on #52
sounds great, the only catch is that we'd want to do our best to be confident that the account is official- a verified tag, a link from their official site, etc. -- any documentation you can provide on how you compiled the list along with the PR would be useful

[2020-05-04 17:30] benrkaplan commented on #54
This information is still not on the site however I have reached out to each of the new members requesting phone numbers and will update accordingly when I hear back.

[2020-06-18 14:47] msicknick opened #23 "Unable to get a list of sessions in correct order"
I was looking to get a list of sessions per jurisdiction through the API, but they are never in the correct order like the one displayed on the website. Am I missing some parameter or does your session list come from somewhere else?

My query:

                  {
                    jurisdictions {
                       edges {
                        node {
                          name

[2020-06-18 20:05] jamesturk commented on #23
right now on the site we sort the sessions alphabetically which does pretty well, you can also sort by the start/end date client side

[2020-06-18 20:05] jamesturk commented on #23
I should add, if you have a need for the sort to be in the API itself let me know and we can look at adding it

[2020-06-18 21:51] msicknick commented on #23
I think returning a list of the sessions in correct order would be a good addition! For now, I will sort alphabetically as well! Thank you!

[2020-06-19 01:38] jamesturk opened #1 "API v3"
Background:

About 18 months after the launch of API v2, about 40% of traffic is still going to API v1.  That API is fairly limited and some features are no longer supported.  API v2 is significantly more complicated, and that seems to be a hindrance to some users moving on, as some people just want to send a lat long and get back a legislator, or get a list of bills that have changed since a give

[2020-06-19 01:51] jamesturk opened #2 "v3 Divisions API"
**Endpoint:** /divisions/

**Purpose:** Get all divisions that contain a given point.

**Filter Parameters: **
- lat (required)
- lng (required)

**Response Fields:**
- Complete division metadata { id, state, name, division_set_id }

[2020-06-22 18:23] jamesturk commented on #18
rolling into #12

[2020-06-22 18:23] #18 closed, assigned to nobody

[2020-06-22 18:25] jamesturk commented on #12
motion_classification | count
-----------------------|--------
 {}                    |  11886
 {amendment}           |   1217
 {bill}                |    602
 {committee}           |   9515
 {committee-passage}   |   5797
 {failure,reading-3}   |      5
 {other}               | 187440
 {passage}             | 301011
 {passage,reading-3}   |   3343
 {passed}              |   1761
 {reading-1}

[2020-06-22 18:26] jamesturk commented on #19
rolling into #12

[2020-06-22 18:26] #19 closed, assigned to nobody

[2020-06-22 18:32] jamesturk commented on #12
I'm planning to go with these:
- amendment
- committee-passage
- passage
- reading-3
- reading-1

this would mean updating some code that currently uses these:
- passed -> passage
- failure -> passage
- committee -> committee-passage
- bill -> {}
- other -> {}

@showerst - thoughts on this set for now?

[2020-06-22 18:34] jamesturk commented on #51
depends up on #11, maybe duplicate of it altogether

[2020-06-22 18:43] jamesturk opened #56 "VA: boundaries have updated"
Virginia's 2019 court ordered redistricting is not yet reflected in the boundary source files, we'll need to check if there's newer data available somewhere

[2020-06-22 18:47] showerst commented on #12
Makes sense to me!

[2020-06-22 18:56] estaub commented on #12
I know this is ambitious, but you might consider attempting to design these so that, when combined with a set of bill states that may not be present in state data but can be inferred, each [ classification, pass-or-fail ] tuple is an event that can be used to create a useful state machine.

If you haven't already, I'd survey a few states that provide a meaningful classification, to get a decent fi

[2020-06-22 19:11] jamesturk commented on #12
Hey Ed!  Good to hear from you.

I like that idea a lot, I want to initially tighten the scrapers that are
sending bad/redundant data into the classification as a first step, but I
definitely think that for states that provide other classifications we can
& should expand these.  Fortunately that's now an easier process, so this
first step won't hamper future attempts to amend the list.

On Mon, Ju

[2020-06-22 19:11] estaub commented on #12
The set of NH terms is unimportant (beyond the scraper) but a few years ago I boiled the legislature floor (non-committee) votes down to this abstract set.  The names are mine.

- pass Committee of Conference Report
- amend
- kill
- table
- pass
- pass amended
- rerefer to committee

[2020-06-22 19:28] jamesturk commented on #55
live in openstates-core 4.5

[2020-06-22 19:28] #55 closed, assigned to jamesturk

[2020-06-22 19:28] jamesturk commented on #17
live in openstates-core 4.5

[2020-06-22 19:28] #17 closed, assigned to jamesturk

[2020-06-22 19:28] jamesturk commented on #12
initial enforcement is added in openstates-core 4.5, leaving this open for future work

[2020-06-22 19:29] jamesturk commented on #10
live in openstates-core 4.5

[2020-06-22 19:29] #10 closed, assigned to nobody

[2020-06-23 20:34] showerst opened #68 "States that need end_date on sessions"
**Issue Description:**
With the new openstates-core requiring end_dates on sessions, some scrapers are failing. This is a ticket to keep track:

- [x] [AL](https://bobsled.openstates.org/run/c0b9aa70ded94caabbd47f89d6e8aa9e)
- [x] [AR](https://bobsled.openstates.org/run/ee77df2e16474727b7f3ff9229dd12b5)
- [x] [AZ](https://bobsled.openstates.org/run/e0a98c8e03a64841a10acd79bc1a30fb)
- [x] [DE](http

[2020-06-23 20:42] showerst opened #69 "States broken due to stricter vote classification"
**Issue Description:**
A few states broke because they have vote classifications of "other" or something else not in the tighter list.

- [x] [CA](https://bobsled.openstates.org/run/f0ee5a9a42044e63a5aa9d6554295584)
- [x] [KY](https://bobsled.openstates.org/run/3342117d764d43b7a3ea1bdda35a8fd4)

[2020-06-23 20:53] showerst commented on #68
Oh looks like you did a bunch of these and i just need to pull master, doh!

[2020-06-23 20:54] #68 closed, assigned to nobody

[2020-06-23 21:05] doubleswirve commented on #69
`LA`, `WI` might be part of this as well.

[2020-06-24 04:02] openstates-bot opened #70 "PR-scrape failing since at least 2020-06-24"
PR-scrape has failed 5 times since 2020-06-24

Logs:
[code]

[2020-06-24 07:16] openstates-bot opened #71 "IA-scrape failing since at least 2020-06-24"
IA-scrape has failed 5 times since 2020-06-24

Logs:
[code]

[2020-06-24 08:05] openstates-bot opened #72 "OR-scrape failing since at least 2020-06-24"
OR-scrape has failed 5 times since 2020-06-24

Logs:
[code]

[2020-06-24 16:41] putorti opened #75 "NC House District 29"
Openstates: https://openstates.org/person/maryann-black-5P5RcMHWWpDFphwZCBO4uF/ (Died 3/25/20)
Actual: https://www.ncleg.gov/Members/Biography/H/765

[2020-06-25 08:03] #72 closed, assigned to nobody

[2020-06-26 08:14] openstates-bot opened #74 "IN-scrape failing since at least 2020-06-26"
IN-scrape has failed 5 times since 2020-06-26

Logs:
[code]

[2020-06-26 14:19] showerst commented on #69
All fixed.

[2020-06-26 14:19] #69 closed, assigned to nobody

[2020-06-26 20:54] jamesturk commented on #75
fix incoming, in the future please file this at https://github.com/openstates/issues :)

[2020-06-27 05:19] openstates-bot opened #76 "AL-scrape failing since at least 2020-06-27"
AL-scrape has failed 5 times since 2020-06-27

Logs:
[code]

[2020-06-27 12:54] #74 closed, assigned to nobody

[2020-06-30 18:26] #76 closed, assigned to nobody

[2020-07-02 22:12] jessemortenson opened #77 "SC: Scraper task failing most days"
**Issue Description:** SC scraper is failing most days, mostly on HTTP errors stemming from requests to the SC site. Seems like requests being dropped at the server side?

`ConnectionResetError: [Errno 104] Connection reset by peer`
`http.client.RemoteDisconnected: Remote end closed connection without response`

Seems to be throwing the error on a different URL each time.

**URL where this issue m

[2020-07-03 12:02] openstates-bot opened #78 "NV-scrape failing since at least 2020-07-03"
NV-scrape has failed 5 times since 2020-07-03

Logs:
[code]

[2020-07-04 04:21] openstates-bot opened #79 "SC-scrape failing since at least 2020-07-03"
SC-scrape has failed 3 times since 2020-07-03

Logs:
[code]

[2020-07-05 08:17] openstates-bot opened #80 "VT-scrape failing since at least 2020-07-05"
VT-scrape has failed 5 times since 2020-07-05

Logs:
[code]

[2020-07-05 08:27] #79 closed, assigned to nobody

[2020-07-06 20:06] #75 closed, assigned to jamesturk

[2020-07-07 11:10] #80 closed, assigned to nobody

[2020-07-07 14:57] putorti opened #81 "Minnesota 60A"
There was a special election on February 4, 2020 to replace Diane Loeffler, who died on November 16, 2019.

**OS:** https://openstates.org/person/diane-loeffler-6caRiSl8HhwPe965wuzonW/
**Actual:** https://www.house.leg.state.mn.us/members/profile/15535

[2020-07-08 06:17] openstates-bot opened #82 "IN-scrape failing since at least 2020-07-08"
IN-scrape has failed 5 times since 2020-07-08

Logs:
[code]

[2020-07-08 14:22] #82 closed, assigned to nobody

[2020-07-08 16:25] danniellelipinski opened #83 "MD legislators need update"
Hello, we need Maryland state legislators to be updated to current representatives.

Thank you for your help in this.

[2020-07-08 18:42] #81 closed, assigned to nobody

[2020-07-09 06:04] openstates-bot opened #84 "WY-scrape failing since at least 2020-07-09"
WY-scrape has failed 5 times since 2020-07-09

Logs:
[code]

[2020-07-10 01:17] jamesturk commented on #77
Worth a shot 👍  SC's been bad for a while, I'll take a look at adding this or would take a PR if you get to it first

[2020-07-10 01:27] jamesturk commented on #14
# Bill Extras

- CA: impact_clause, tags, vote.threshold
- DC: lawNumber
- DE: amendment, substitute
- FL: places
- GA: guid, action.code, action.guid
- KS: status
- KY: BDR (bill draft request)
- MD: date_effective
- ME: ld_number
- MS: summary
- MT: many including: chapter, drafter, fiscal note, bill draft number, by request of
- NH: sponsor codes
- NV: BDR, NV_ID
- UT: _vote_id
- WI: status
- W

[2020-07-10 01:29] jamesturk commented on #56
House only I think, file here https://redistricting.dls.virginia.gov/PlanList.aspx?type=GIS

[2020-07-10 01:30] jamesturk commented on #6
redundant w/ #5

[2020-07-10 01:30] #6 closed, assigned to nobody

[2020-07-10 01:45] jamesturk commented on #3
moving this to #85

[2020-07-10 01:45] #3 closed, assigned to nobody

[2020-07-10 01:50] jamesturk commented on #47
going to close this out as I don't think we're likely to move forward on any parallelization in the near term

[2020-07-10 01:50] #47 closed, assigned to nobody

[2020-07-10 01:52] jamesturk commented on #63
example: https://openstates.org/ne/bills/105/LR442/

[2020-07-10 02:19] jamesturk commented on #14
People: occupation should probably be promoted, most other extras are obsolete or really unique (e.g. children)

[2020-07-10 08:14] #78 closed, assigned to nobody

[2020-07-10 13:40] jamesturk commented on #64
historical run didn't work, sponsors were missing due to site change, going to opt to handle this with manual resolution

[2020-07-10 13:51] #23 closed, assigned to jamesturk

[2020-07-10 13:55] #63 closed, assigned to jamesturk

[2020-07-10 22:37] openstates-bot opened #86 "data-quality-report failing since at least 2020-07-10"
data-quality-report has failed 3 times since 2020-07-10

Logs:
[code]

[2020-07-11 08:03] #84 closed, assigned to nobody

[2020-07-14 19:40] jamesturk opened #87 "Handling adding non-legislator data to Open States"
This is a planning issue to figure out what needs to be done to support non-legislator data in Open States.  Given the potential contribution of hundreds of city officials along with support to maintain them, I'm going to prioritize this & related features.

Adding this data has been an obstacle in the past due to maintenance concerns, but with the existing contribution workflow for openstates/peo

[2020-07-14 19:52] jamesturk commented on #87
cc @chris-erickson @csnardi for thoughts on any of the above

I'll update soon w/ a proposed schema update for openstates/people

[2020-07-14 20:13] jamesturk commented on #77
added in https://github.com/openstates/openstates-scrapers/commit/c03097a982a8513fcc2ee276980532d19879e43a

will monitor over the next week to see what this does on bobsled runs

[2020-07-15 06:12] openstates-bot opened #88 "WV-scrape failing since at least 2020-07-14"
WV-scrape has failed 3 times since 2020-07-14

Logs:
[code]

[2020-07-15 17:31] chris-erickson commented on #87
Looks good so far to me.  We have a lot of volunteers (esp. non-technical) so we're keenly interested in how we can have them help in keeping data correct and current.  [Resistbot](https://github.com/resistbot) would build core functionality on this, so we'd be highly motivated to do that.

[2020-07-15 19:20] jamesturk commented on #87
Here's what I'm thinking regarding adjustments to openstates/people:

- for simplicity, keep all data in openstates/people but rename the data/people directory to data/legislature and add a new data/cities subdirectory
- the retired directory will remain as-is and people can be retired from the legislature or cities into that directory
- update scripts to handle these new paths (most will just nee

[2020-07-15 19:37] showerst commented on #87
Couple quick comments, they may be way out of scope if you've already worked it out with @chris-erickson

1. Not every city has an elected mayor. I'd add position options for city managers (who are sometimes also a councilpersons) and commissioners, or just change it some kind of catchall local executive.
1. I _think_ Some big unified governments only have councils (no executive), so i'd add roles

[2020-07-15 19:42] chris-erickson commented on #87
We're very much interested in getting this all right, no reason we wouldn't someday want city councils, etc.  We just wanted to focus on mayors first since it covers a _lot_ of citizens.  We might implement a hacky mayor lookup first internally if the timeline is too stretched is all.

[2020-07-15 21:48] jamesturk commented on #87
Agree, don't want to preclude adding others as needed.  Most others would just be additional positions in the enum as needed, but if there's anything we're doing that looks like it'd need major changes for those please let me know!

[2020-07-16 05:03] openstates-bot opened #89 "DE-scrape failing since at least 2020-07-15"
DE-scrape has failed 3 times since 2020-07-15

Logs:
[code]

[2020-07-17 06:21] #88 closed, assigned to nobody

[2020-07-17 07:38] openstates-bot opened #90 "VT-scrape failing since at least 2020-07-17"
VT-scrape has failed 5 times since 2020-07-17

Logs:
[code]

[2020-07-17 21:09] jamesturk commented on #87
the PR now includes mayoral data for AK & AL, a script to convert the Airtable data to the YAML format, and changes to the linter & other scripts to handle this new data

the next step will be to import some into the database, convert the remaining states mayors to YAML, then import them all

the other checkboxes above are important to ensure feature parity, but won't block us getting this data in

[2020-07-20 06:02] openstates-bot opened #91 "MO-scrape failing since at least 2020-07-20"
MO-scrape has failed 5 times since 2020-07-20

Logs:
[code]

[2020-07-20 21:04] chris-erickson commented on #87
Took me a bit to figure out what you were referring to 😃 https://github.com/openstates/people/pull/304

Looks like a good start to me.

[2020-07-21 06:11] #89 closed, assigned to nobody

[2020-07-21 08:05] #91 closed, assigned to nobody

[2020-07-21 11:10] #90 closed, assigned to nobody

[2020-07-22 15:43] jamesturk commented on #87
update: I have mayoral data loading into Open States’ database, going to load a couple of states in production to make sure there aren’t any weird side-effects I didn’t anticipate

once that’s working done I just need to figure out how to actually surface the data via the API

[2020-07-22 21:28] jamesturk opened #92 "use Jurisdiction.classification to differentiate types of jurisdictions"
right now Jurisdiction.classification is always set to government

I'd like to:
- [x] do an audit of where it is used now
- [x] switch the existing 52 to 'state' (including DC and PR since they should be treated as states for our purposes)
- [x] new jurisdictions will be 'municipality' for now, others may follow eventually

[2020-07-22 21:45] jamesturk commented on #77
I think I need to look at the type of error being thrown and get scrapelib retries to work with it.

[2020-07-23 20:19] jamesturk commented on #87
A few cities are now available:

https://openstates.org/graphql#query=%7B%0A%20%20jurisdiction(id%3A%20%22ocd-jurisdiction%2Fcountry%3Aus%2Fstate%3Aal%2Fplace%3Amobile%2Fgovernment%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20id%0A%20%20%20%20organizations(first%3A%201)%20%7B%0A%20%20%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20%20%20currentMemberships%20%7B

[2020-07-23 21:12] chris-erickson commented on #87
Looks right to me.  We actually had errors popping up this AM not expecting this new "place" so we knew the moment it went live!  Will be pretty straightforward to update our stuff for this.

🎉

[2020-07-24 04:05] openstates-bot opened #93 "SC-scrape failing since at least 2020-07-23"
SC-scrape has failed 3 times since 2020-07-23

Logs:
[code]

[2020-07-24 09:09] #93 closed, assigned to nobody

[2020-07-24 13:42] jamesturk commented on #87
Oops, can you elaborate on where the errors were? I know there was one site
hiccup, but wasn't expecting these to show up anywhere yet & want to avoid
breaking others.

On Thu, Jul 23, 2020 at 5:13 PM Chris Erickson <notifications@github.com>
wrote:

[2020-07-24 19:05] chris-erickson commented on #87
We discussed this in Slack, but for the room, we had a regex that was a bit too clumsy.  Data was fine.

[2020-07-26 06:19] openstates-bot opened #94 "IN-scrape failing since at least 2020-07-25"
IN-scrape has failed 3 times since 2020-07-25

Logs:
[code]

[2020-07-27 12:20] #94 closed, assigned to nobody

[2020-07-27 20:24] jamesturk commented on #87
the mayors are loaded, had a couple of duplicates to sort out & a few other minor issues now resolved- the import just started & if all goes well it'll be done by ~5:30pm Eastern

[2020-07-27 22:05] jamesturk commented on #87
👍  mayoral data is now loaded, other related features will be opened in new tickets

[2020-07-28 07:58] #70 closed, assigned to nobody

[2020-07-28 20:34] #87 closed, assigned to jamesturk

[2020-07-28 21:44] #86 closed, assigned to nobody

[2020-07-29 04:44] openstates-bot opened #95 "SC-scrape failing since at least 2020-07-29"
SC-scrape has failed 5 times since 2020-07-29

Logs:
[code]

[2020-07-29 07:00] openstates-bot opened #96 "data-quality-report failing since at least 2020-07-28"
data-quality-report has failed 3 times since 2020-07-28

Logs:
[code]

[2020-07-29 17:04] jamesturk commented on #77
dug in a bit today & realized that call isn't using scrapelib-- which is why it isn't retrying/etc.

it looks like we switched to using urllib so we could try to handle partial responses a while ago

going to push a version that uses scrapelib with retries to see if that fixes this new error without resurfacing the old error, if it is still flaky one option might be to try without subjects since i

[2020-07-29 17:07] jamesturk commented on #77
https://github.com/openstates/openstates-scrapers/commit/9860b41bbcf8844c3cce8b4c4a1cd57abfd30d10

<s>will probably revert this after a run or two </s>

nevermind, this wasn't right -- trying to run without the subject code next

[2020-07-29 17:43] chris-erickson commented on #87
@jamesturk can you recommend an efficient way to get all known mayors in one query?  Whether it's something like `get all people where type is mayor` or, `jurisdictions that content a person with role mayor`...

Perhaps that's yet to be addressed in https://github.com/openstates/issues/issues/92?

[2020-07-29 18:12] showerst commented on #77
(didn't check the history) I think that swap was either me or sometone at govhawk, we were getting a bunch of weird server errors because SC was cutting off responses or sending invalid lengths back.

Hopefully that's fixed on their end now and we can switch back!

[2020-07-30 07:04] #96 closed, assigned to nobody

[2020-07-30 16:57] jamesturk commented on #87
Yep, it'll take a few other modifications to make that kind of query easy.
To preserve backwards compatibility w/ folks only expecting states the
jurisdictions for cities are practically hidden right now.  Direct access
to the mayors is possible by having the jurisdiction ID, but that's about
it.

On Wed, Jul 29, 2020 at 1:43 PM Chris Erickson <notifications@github.com>
wrote:

[2020-07-30 17:31] jamesturk commented on #95
linked to #77

[2020-07-30 17:47] #83 closed, assigned to nobody

[2020-07-30 17:49] jamesturk commented on #49
checked these, we're added back to 93rd

[2020-07-30 17:49] #49 closed, assigned to nobody

[2020-07-30 20:33] jamesturk opened #97 "v3 Jurisdictions API"
The Open States v3 API will be surfacing more information on non-state jurisdictions than we previously have.  As a result there'll be a bit more emphasis on a robust endpoint for jurisdictions than there was in API v1 (/metadata/) and API v2 (jurisdictions)

**Endpoint**: /jurisdictions/
**Purpose**: Paginated list of jurisdictions, for presenting all information that the site has to offer.

**Fi

[2020-07-30 20:53] jamesturk opened #98 "v3 People API"
**Endpoint:** /people/
**Purpose:** Paginated list of people for browsing or presenting sponsor/voter details.

**Required Fields:**  id, name, or jurisdiction

**Filter Parameters:**
- id (can be specified multiple times to get information on a number of legislators in one request, e.g. when looking up bill sponsors)
- name (case-insensitive search)
- jurisdiction (takes jurisdiction ID or name)

[2020-07-30 21:17] jamesturk opened #99 "v3 Bills API"
**Endpoint:** /bills/
**Purpose:** Paginated list of bills for browsing or search.
**Required Parameters:** query -OR- jurisdiction & session

**Filter Parameters:**
- query: limit to bills matching the text of a query
- jurisdiction: jurisdiction ID or name
- session: session bill was introduced
- chamber:  originating in a given chamber
- classification:   desired classification (bill, resolutio

[2020-07-30 21:42] jamesturk commented on #77
That service still seems to be serving those incomplete responses, so I reverted that pretty quickly.

Looking at the scrape history: https://bobsled.openstates.org/task/SC-scrape I think 100% of failures have been in that portion.  That might not be fair, since it happens first, but we didn't have the unusual code workarounds on the other requests, so it may be just the subjects endpoint that is

[2020-07-30 23:01] showerst commented on #77
Count me as one vote to leaving it out if it effects scraper finish-chances.

[2020-07-31 20:09] jamesturk commented on #46
governors are now added, support for lt gov is there as well for when we want to add them

[2020-07-31 20:09] #46 closed, assigned to jamesturk

[2020-07-31 20:20] jamesturk commented on #32
https://github.com/openstates/openstates.org/commit/9cff785b7a658e20db92ad445501885c4aff5a5e

[2020-07-31 20:20] #32 closed, assigned to jamesturk

[2020-07-31 20:26] #25 closed, assigned to jamesturk

[2020-07-31 20:28] jamesturk commented on #52
If anybody would like to help with this, we're ready to start surfacing more of this on the site.  I can generate CSVs/etc. for people to fill out that we'd be able to import back into openstates/people quite easily.

[2020-07-31 21:13] chris-erickson commented on #87
@jamesturk do you think that we'd be able to do this kinda query soon, or should we consider a different way instead?

[2020-08-02 08:27] #95 closed, assigned to nobody

[2020-08-03 13:20] jmcclelland commented on #56
We just [noticed this as well](https://discourse.openstates.org/t/updated-districts-in-virginia/531). Thanks for investigating!

[2020-08-03 16:25] jamesturk commented on #87
I hadn't planned on making this kind of query ready soon- are you all going
to be using that & the lookup by ID version?

On Fri, Jul 31, 2020 at 5:14 PM Chris Erickson <notifications@github.com>
wrote:

[2020-08-03 16:26] jamesturk commented on #87
Should add, I might have a quick solution for you all that's possible- want
to make sure I'm understanding the use case to get it right though.

On Mon, Aug 3, 2020 at 12:25 PM James Turk <james@jamesturk.net> wrote:

[2020-08-03 16:50] #16 closed, assigned to jamesturk

[2020-08-03 17:18] jamesturk commented on #56
Taking a closer look at the above file this week, hopefully that'll yield a fix pretty quickly.

[2020-08-03 18:02] chris-erickson commented on #87
Ultimately we're populating our rep data base with it, so we need a way to get "all mayors" preferably with a single API call if possible.  We parse this as part of an import stage, populate the database, then handle individual queries for a user out of band on the result data.  That make sense?

[2020-08-03 18:18] jamesturk commented on #87
Yep that makes sense, i’ll see if i can’t get a beta endpoint together
really quickly for this then.

i’ll update by weds

On Mon, Aug 3, 2020 at 2:02 PM Chris Erickson <notifications@github.com>
wrote:

[2020-08-05 08:43] openstates-bot opened #100 "TX-scrape failing since at least 2020-08-05"
TX-scrape has failed 5 times since 2020-08-05

Logs:
[code]

[2020-08-07 07:05] openstates-bot opened #101 "DC-scrape failing since at least 2020-08-07"
DC-scrape has failed 5 times since 2020-08-07

Logs:
[code]

[2020-08-07 15:48] serixscorpio opened #102 "`opencivicdata_person.current_state` does not exist when importing VA scraped data"
First time filing issue for this project, still learning/exploring along the way!

**Issue Description:**

When importing VA scraped `bills`, I came across error: `opencivicdata_person.current_state` does not exist.  Below is the output when I run the scraper.  I think it has something to do with [this schema change](https://github.com/openstates/openstates-core/commit/54d48a9f03e8cb66d7cc72e0d56b

[2020-08-07 17:56] jamesturk commented on #102
Thanks for this, the update to the package should indeed have been
coordinated across the packages.  I've updated my release checklist for
openstates-core appropriately to avoid this happening again.

On Fri, Aug 7, 2020 at 11:48 AM Eric Ti-Yu Chiang <notifications@github.com>
wrote:

[2020-08-08 05:14] #101 closed, assigned to nobody

[2020-08-08 15:36] serixscorpio commented on #52
I can help with VA state senators to start off with.  If I understand this github issue correctly, we're looking to gather info like below:

| Name | FB | FB confidence | Twitter | Twitter confidence |
| --- | --- | --- | --- | --- |
| George L. Barker | https://www.facebook.com/SenatorBarker | links from 'official site', which links from wikipedia | https://twitter.com/GeorgeLBarker | [mentioned

[2020-08-09 16:32] serixscorpio commented on #61
A spot check for session year 2020 show votes are included on individual bills pages (if the bill makes it that far in the process). For example, [HB 6002](https://cga.ct.gov/asp/cgabillstatus/cgabillstatus.asp?selBillType=Bill&bill_num=HB06002) has Senate/House vote results.  Please see below gif.  It's my first time looking at CT, so I could be mistaken or not understand things as intended.  Tha

[2020-08-10 14:33] jamesturk commented on #52
That would be great, the best place to start would be to grab VA's CSV from
https://openstates.org/data/legislator-csv/ & add necessary columns as you
see fit.  (Also OK to delete any unnecessary columns besides name & id)

Let me know if that'd work/if you have any questions, thanks for tackling
this and being a bit of a pioneer in figuring out what process works best
here

On Sat, Aug 8, 2020 at

[2020-08-10 14:35] #102 closed, assigned to nobody

[2020-08-10 16:20] jamesturk commented on #77
With the exception of a weird timeout issue (which we'll keep an eye on) and the day I broke all the scrapers at once, SC has run successfully since adding this.  Going to close this issue out for now, we'll go forward without subjects.

[2020-08-10 16:20] #77 closed, assigned to jamesturk

[2020-08-10 16:57] jessemortenson opened #103 "NV duplicate bills in special session 2020Special32"
**Issue Description:** NV session 2020Special32 data as reported by OS has duplicate bills. I believe this may apply to 2020Special31 as well.

[code]
[code]

[2020-08-10 17:28] jmcclelland commented on #56
Thanks for taking a look. I'm curious if we found any solutions?

[2020-08-10 17:34] jamesturk commented on #56
Good timing!  It worked, with some wrangling.  I'm verifying the fix as I
write this and will push the update this afternoon.

On Mon, Aug 10, 2020 at 1:28 PM Jamie McClelland <notifications@github.com>
wrote:

[2020-08-10 17:47] jmcclelland commented on #56
That's so great!! Thank you very much.

[2020-08-10 18:10] jamesturk commented on #56
boundaries are updated, the tiles are cached for a while so they may display oddly for the next ~24 hours, but lookups work and I've verified a few addresses did indeed update as expected

[2020-08-10 18:10] #56 closed, assigned to jamesturk

[2020-08-10 20:28] serixscorpio opened #104 "VA 40th district senator is Todd Pillion instead of Charles William Carrico Sr."
**Issue Description:** [VA 40th district senator](https://en.wikipedia.org/wiki/Virginia's_40th_Senate_district#2019) is Todd Pillion as of Jan 2020 instead of Charles William Carrico Sr.  Current senator info on openstates seems outdated.

**URL where this issue may be seen (API or OpenStates.org):**
https://openstates.org/va/legislators/?chamber=upper (list of current VA senators)

**Source URL

[2020-08-11 00:02] openstates-bot opened #105 "update-people failing since at least 2020-08-11"
update-people has failed 5 times since 2020-08-11

Logs:
[code]

[2020-08-11 08:03] openstates-bot opened #106 "OR-scrape failing since at least 2020-08-11"
OR-scrape has failed 5 times since 2020-08-11

Logs:
[code]

[2020-08-11 14:59] jamesturk commented on #61
Thanks for looking at this, I'll update the issue from marked upstream to something that we can tackle

[2020-08-11 15:20] jamesturk commented on #15
if this is still of interest & you all have cycles to collaborate on this I'd be glad to pick it up

[2020-08-11 15:22] #105 closed, assigned to nobody

[2020-08-11 15:32] jamesturk commented on #5
PR needs this too

[2020-08-11 15:33] jamesturk commented on #103
Steps needed to fix:
- [x] look at if scraper is producing these & fix if so
- [ ] James manually remove bills from database once verified

[2020-08-11 15:48] showerst commented on #15
Sure, what would be most helpful? I may be too busy this week to PR the change but happy to provide some ideas for the types.

[2020-08-12 08:03] #106 closed, assigned to nobody

[2020-08-12 20:01] jessemortenson opened #107 "MA bill scraper jobs timing out"
**Issue Description:** Looks like the MA bill scraper job is[ timing out 5 of the last 6 days](https://bobsled.openstates.org/task/MA-scrape).

Does this mean the task isn't exactly failing, but is exceeding a max execution time defined in the task runner? Guessing it might be going over 24 hours based on how long some recent runs have been.

**URL where this issue may be seen (API or OpenStates.o

[2020-08-12 20:03] jamesturk commented on #107
Thanks for catching this, I hadn't been monitoring too closely and thought
all were OK.

I'll up the timeout to 30 hours & see how we're doing.

On Wed, Aug 12, 2020 at 4:01 PM Jesse Mortenson <notifications@github.com>
wrote:

[2020-08-12 20:05] #107 closed, assigned to nobody

[2020-08-12 20:15] jessemortenson commented on #107
Guessing MA is just so slow based on sheer number of requests (lots of bills, requests per bill). Does the scrape job insert new data into the OS database (that powers the DB) as it yields each bill, or all at the end of the job as a batch?

[2020-08-12 20:19] showerst commented on #107
Yeah the way MA's site is built, it requires an obnoxious number of requests per bill because _everything_ is a separate endpoint and paginated.

[2020-08-12 20:24] jamesturk commented on #107
All scrapers import at the end of the job (for now at least), and yeah MA
is a complete pain & always has been-  always a little hopeful at a new
session that they'll unveil some new site or bulk data offering.

On Wed, Aug 12, 2020 at 4:19 PM showerst <notifications@github.com> wrote:

[2020-08-12 20:41] jamesturk commented on #15
Yeah, ideas for the types would be great- I'm not in a big rush to get this
in but trying to move on a few of these schema-type things that were harder
to do before the move to openstates-core

On Tue, Aug 11, 2020 at 11:49 AM showerst <notifications@github.com> wrote:

[2020-08-12 21:21] showerst commented on #15
I went through all the scrapers and our data and took a look --

For bills --

### Versions:

- prefiled [1]
- introduced
- amendment [2]
- substituted
- enrolled
- became-law

[1] - Maybe this should be filed to match the status.

[2] - I'm thinking of amendment not as 'amended version of the bill' which is most versions, but cases where they _only_ publish amendment instructions.

For my cases t

[2020-08-12 21:26] serixscorpio commented on #52
Please see [va.csv.txt](https://github.com/openstates/issues/files/5065686/va.csv.txt) (csv renamed to .txt in order to upload to github issues).   The steps I took are:
1. Download VA's CSV from https://openstates.org/data/legislator-csv
1. I noticed the csv already has columns `twitter` and `facebook`, so I just filled in those columns as I go through each representative.  I also added `twitter_

[2020-08-13 03:51] ChrispyK256 commented on #52
Hi, I'm working on updating the list for Arizona.  Aside from adding the confidence columns, would it be worthwhile if I also added a `campaign_website` column?  Also, I'm noticing many politicians have other social media accounts, like LinkedIn.  Is is worth it to add those columns as well, or might they be too niche?

[2020-08-13 16:00] mollycode commented on #100
Hi, just looked in to this and looks like TX is failing for a new reason. Wasnt sure if i should open a different issue or put this here since its related to the topic. Let me know if how I can help!

	'other' is not one of ['passage', 'amendment', 'committee-passage', 'amendment', 'reading-1', 'reading-3']
Failed validating 'enum' in schema['properties']['motion_classification']['items']:
    {'e

[2020-08-13 16:51] showerst commented on #100
Hi @mollycode !

It looks like a vote is being classified as 'other', which is a vote classification we recently deprecated. It looks like we missed a few places where it's still used in the code.

If you'd like to get started with the project, check out our [contributors guide here](https://docs.openstates.org/en/latest/contributing/scrapers.html) -- in this case you'd be running the TX votes scr

[2020-08-13 18:55] jamesturk commented on #52
@serixscorpio thanks for this, the week has gotten pretty hectic so I'm a bit behind on looking at importing this but I will update you soon!

@ChrispyK256 campaign_website would be great, I can import that as a link with the note field set to campaign_website

other major social media platforms welcome too, no harm in having them & we'll surface them in the API/bulk data even if they don't wind u

[2020-08-15 20:17] JonathanCohn opened #108 "Missing Legislators in Massachusetts"
**Issue Description:**

Massachusetts had several special elections this spring; however, the new legislators' names do not appear.

The new legislators' names are John Velis, Susan Moran, Carol Doherty, and Danillo Sena.

**URL where this issue may be seen (API or OpenStates.org):**
https://openstates.org/person/john-c-velis-4yTcELJ9n51Q00xvB5PSFp/ -- This rep is now a senator.

**Source URL of c

[2020-08-17 16:47] jessemortenson commented on #107
Looks like we need to re-open this as tasks have continued to either error (most recently on `Max retries exceeded with url: /Bills/191/S78/CoSponsor`) or more often time out.

Would it be worth considering a second MA scrape job that attempts to scrape a limited subset of bills starting with the most recently added bills? Looks like it would require a code change to allow a flag that tells the ta

[2020-08-18 04:24] putorti commented on #100
I was going to file a problem with a Texas official that's about 4 months out of date, but I'm guessing this issue is the reason? If so I'll hold on filing.

[2020-08-18 16:59] jamesturk commented on #100
Hey Jason,  This is just bills, so please do file the issue w/ the TX
official as you normally would, thanks!

On Tue, Aug 18, 2020 at 12:24 AM Jason Putorti <notifications@github.com>
wrote:

[2020-08-19 04:06] openstates-bot opened #109 "VA-scrape failing since at least 2020-08-18"
VA-scrape has failed 3 times since 2020-08-18

Logs:
[code]

[2020-08-19 08:04] #109 closed, assigned to nobody

[2020-08-19 20:07] #104 closed, assigned to nobody

[2020-08-20 21:11] jamesturk commented on #1
An early preview of V3 is now available:  https://v3.openstates.org/docs

Stability is not guaranteed yet, but if you're lurking and want to check it out that'd be appreciated!!

[2020-08-23 08:03] openstates-bot opened #110 "ID-scrape failing since at least 2020-08-23"
ID-scrape has failed 5 times since 2020-08-23

Logs:
[code]

[2020-08-24 18:06] SusanOhio opened #111 "Ohio Lower Chamber Vote Data Missing"
When viewing an Ohio State Representative's record, recently sponsored bills are shown but recent votes are not.

Example: The last vote that OpenStates shows for Rep. Mark Fraizer was on 02/05/20. I have personal knowledge that he has voted on numerous bills and resolutions since then. https://openstates.org/person/mark-fraizer-3WMMqxYgr03bMWx25AgcXG/

[2020-08-25 04:04] openstates-bot opened #112 "VA-scrape failing since at least 2020-08-24"
VA-scrape has failed 3 times since 2020-08-24

Logs:
[code]

[2020-08-25 05:03] #110 closed, assigned to nobody

[2020-08-25 08:04] #112 closed, assigned to nobody

[2020-08-25 15:42] jamesturk commented on #103
re-opening this to track the manual fix, will remove the bills once the next scrape occurs & I can verify they aren't being updated

[2020-08-26 08:07] openstates-bot opened #113 "TN-scrape failing since at least 2020-08-26"
TN-scrape has failed 5 times since 2020-08-26

Logs:
[code]

[2020-08-28 04:26] ChrispyK256 commented on #52
Finished with AZ.  How do I upload the updated .csv, and what state is the next priority?

[2020-09-01 00:26] openstates-bot opened #114 "MA-scrape failing since at least 2020-08-31"
MA-scrape has failed 5 times since 2020-08-31

Logs:
[code]

[2020-09-01 21:00] jamesturk commented on #52
No particular priority, if you can either upload to a gist or email to
james@openstates.org if that's easier I'll work to process these this week!

On Fri, Aug 28, 2020 at 12:26 AM ChrispyK256 <notifications@github.com>
wrote:

[2020-09-02 05:02] openstates-bot opened #115 "AR-scrape failing since at least 2020-09-02"
AR-scrape has failed 5 times since 2020-09-02

Logs:
[code]

[2020-09-02 09:10] #114 closed, assigned to nobody

[2020-09-04 21:12] #99 closed, assigned to jamesturk

[2020-09-04 21:12] #98 closed, assigned to jamesturk

[2020-09-04 21:13] #97 closed, assigned to jamesturk

[2020-09-07 00:17] openstates-bot opened #116 "update-people failing since at least 2020-09-07"
update-people has failed 5 times since 2020-09-07

Logs:
[code]

[2020-09-07 12:03] openstates-bot opened #117 "DC-scrape failing since at least 2020-09-07"
DC-scrape has failed 5 times since 2020-09-07

Logs:
[code]

[2020-09-08 06:02] openstates-bot opened #118 "MN-scrape failing since at least 2020-09-08"
MN-scrape has failed 5 times since 2020-09-08

Logs:
[code]

[2020-09-09 04:04] openstates-bot opened #119 "VA-scrape failing since at least 2020-09-09"
VA-scrape has failed 5 times since 2020-09-09

Logs:
[code]

[2020-09-09 05:13] #117 closed, assigned to nobody

[2020-09-09 08:05] #119 closed, assigned to nobody

[2020-09-09 19:08] #116 closed, assigned to nobody

[2020-09-09 22:38] jessemortenson opened #120 "MO missing 20 Senate bills for extrordinary session 2020S1"
**Issue Description:** 20 bills are [listed in the MO senate for the 2020 first extraordinary session](https://www.senate.mo.gov/20info/BTS_Web/BillList.aspx?SessionType=E1) - these appear to be missing from Open States data.

Looks to me like the wrong URL is being used:

[code]

**URL where this issue may be seen (API or OpenStates.org):**

results in
[code]
  contain only House bills

**URL wit

[2020-09-09 23:07] jessemortenson opened #121 "PR Missing 300+ bills"
**Issue Description:** Looks like Open States state for PR in the 2017-2020 session is missing about 330 bills. A couple examples:

[RS 1356](https://sutra.oslpr.org/osl/esutra/MedidaReg.aspx?rid=135628)
[RCC 668](https://sutra.oslpr.org/osl/esutra/MedidaReg.aspx?rid=135666)

I'm not seeing a distinct pattern. Looks like all resolutions. Bill numbers like:

* RCC
* RKC
* RS

Full list of believed

[2020-09-10 04:04] openstates-bot opened #122 "VA-scrape failing since at least 2020-09-09"
VA-scrape has failed 3 times since 2020-09-09

Logs:
[code]

[2020-09-10 08:04] #122 closed, assigned to nobody

[2020-09-10 18:39] jamesturk commented on #1
V3 is now in beta! closing this issue in favor of new issues as needed

[2020-09-10 18:39] #1 closed, assigned to jamesturk

[2020-09-10 18:39] #2 closed, assigned to jamesturk

[2020-09-12 04:05] #118 closed, assigned to nobody

[2020-09-12 06:34] openstates-bot opened #123 "MS-scrape failing since at least 2020-09-12"
MS-scrape has failed 5 times since 2020-09-12

Logs:
[code]

[2020-09-12 12:25] donaldwasserman opened #124 "v3 API include params is confusing"
**Is your feature request related to a problem? Please describe.**
I was playing around with the v3 api, and was looking at the includes here: https://github.com/openstates/api-v3/blob/main/api/bills.py#L173

I was originally trying to access the api using a query param like `includes=votes,documents`, which isn't valid (see the tests here).

The issue here is that it's not really what you'd expec

[2020-09-14 13:51] jamesturk commented on #124
Thanks for the feedback!

These days  most server side libraries, including FastAPI prefer the
multiple parameters format- i can see why you ike the comma separated list
format but i’m curious about you mentioning the difficulty in sending the
multi parameter request. It’s widely supported from what I’ve seen but if
you can point me at some client libraries that don’t support it i’ll look
into alt

[2020-09-14 14:22] donaldwasserman commented on #124
So I guess I am totally out of the loop! I didn't realize (in requests, which is what i'm most familiar with), that it automatically worked that way under the hood, i thought it still serialized `{includes: ['foo', 'bar']}` etc as a comma separated list.

My apologies!

[2020-09-14 14:22] #124 closed, assigned to nobody

[2020-09-14 18:58] jamesturk commented on #31
VoteEvent now has an order field that can be populated directly for this

[2020-09-14 18:58] #31 closed, assigned to jamesturk

[2020-09-14 19:17] azban opened #125 "opencivicdata_bill.locked_fields does not exist"
i haven't had a chance to dig into this yet, but in case this minimal amount of info is helpful, we started seeing this randomly for certain queries. if needed, I can try to reproduce the query and the full response.

[code]

[2020-09-14 19:20] jamesturk commented on #125
This should have been an intermittent issue during a migration that took about 7 minutes- let me know if you can reproduce now. Sorry for the unexpected downtime.

[2020-09-14 19:37] azban commented on #125
no worries. just making sure it wasn't something persistent. will re-open this if i see it again. thanks.

[2020-09-14 19:37] #125 closed, assigned to nobody

[2020-09-14 20:36] #92 closed, assigned to nobody

[2020-09-14 20:38] jamesturk commented on #51
closing in favor of #11 -- hopefully to be tackled in OS core 6.0

[2020-09-14 20:38] #51 closed, assigned to nobody

[2020-09-15 14:55] showerst commented on #123
Looks like we just need to catch a missing file error here, i'll spin this up today. MS takes a while to test, so might be a bit for the PR.

[2020-09-15 15:09] #123 closed, assigned to nobody

[2020-09-15 15:16] #120 closed, assigned to nobody

[2020-09-15 15:24] showerst commented on #115
AR often clears their FTP bulk data after a session ends, so this is expected.

[2020-09-15 15:24] showerst commented on #113
@jamesturk ping -- https://bobsled.openstates.org/run/e8682ca659294cc185e4b9a5df963d69

[2020-09-18 06:03] openstates-bot opened #126 "WI-scrape failing since at least 2020-09-18"
WI-scrape has failed 5 times since 2020-09-18

Logs:
[code]

[2020-09-18 07:03] openstates-bot opened #127 "MN-scrape failing since at least 2020-09-18"
MN-scrape has failed 5 times since 2020-09-18

Logs:
[code]

[2020-09-19 00:03] openstates-bot opened #128 "update-people failing since at least 2020-09-19"
update-people has failed 5 times since 2020-09-19

Logs:
[code]

[2020-09-19 05:02] openstates-bot opened #129 "FL-scrape failing since at least 2020-09-19"
FL-scrape has failed 5 times since 2020-09-19

Logs:
[code]

[2020-09-19 05:02] openstates-bot opened #130 "DC-scrape failing since at least 2020-09-19"
DC-scrape has failed 5 times since 2020-09-19

Logs:
[code]

[2020-09-19 07:02] openstates-bot opened #131 "MT-scrape failing since at least 2020-09-19"
MT-scrape has failed 5 times since 2020-09-19

Logs:
[code]

[2020-09-21 17:39] #103 closed, assigned to jamesturk

[2020-09-21 17:54] #64 closed, assigned to nobody

[2020-09-21 18:18] #128 closed, assigned to nobody

[2020-09-23 05:06] #113 closed, assigned to nobody

[2020-09-23 17:55] jamesturk commented on #12
with latest updates to schema looking good for now and we can add more later as needed case-by-case

[2020-09-23 17:55] #12 closed, assigned to nobody

[2020-09-23 18:33] jamesturk commented on #14
re: bills, At the moment not particularly motivated to promote any of these, @showerst let me know if there are any you have in mind.

I'm undecided on Person.occupation, but leaning no for now as well as I think it is fine in extras, but I'm about 50/50 on it and could easily be swayed

[2020-09-23 18:37] showerst commented on #14
I think they're all fine as is. I think i have another bug open about potential citations / law citations that i'd like to revisit, but I don't see my team getting to that before the new sessions, so no rush.

[2020-09-23 18:42] #14 closed, assigned to nobody

[2020-09-23 18:42] jamesturk commented on #14
Alright, closing for now in favor of handling these as needed - definitely up to adjust the schema for law citations when you all are ready

[2020-09-25 15:27] azban opened #132 "v3: fromOrganization missing in Bill schema"
`fromOrganization` was dropped from the Bill schema between v2 and v3.

see schema @ https://v3.openstates.org/docs

[2020-09-25 15:45] jamesturk commented on #15
this behavior was added in openstates-core 5.1.0 and is now available

[2020-09-25 15:45] #15 closed, assigned to jamesturk

[2020-09-25 19:58] jamesturk commented on #132
a simple deletion caused this I believe, restored and will be deployed in next week's release

[2020-09-26 05:02] openstates-bot opened #133 "LA-scrape-special failing since at least 2020-09-26"
LA-scrape-special has failed 5 times since 2020-09-26

Logs:
[code]

[2020-09-26 12:02] donaldwasserman opened #134 "Add created_since v3 API Filter"
Would you entertain adding a `created_since` filter on the `bills` endpoint?

I'd be happy to add tests + the feature for it.

[2020-09-27 05:04] openstates-bot opened #135 "DE-scrape failing since at least 2020-09-27"
DE-scrape has failed 5 times since 2020-09-27

Logs:
[code]

[2020-09-28 11:17] jamesturk commented on #134
yes , happy to accept that PR!

On Sat, Sep 26, 2020 at 8:02 AM Donald Wasserman <notifications@github.com>
wrote:

[2020-09-28 19:03] jamesturk commented on #134
this is live in today's release!

[2020-09-28 19:03] #134 closed, assigned to nobody

[2020-09-28 19:03] jamesturk commented on #132
this is live in today's release!

[2020-09-28 19:03] #132 closed, assigned to nobody

[2020-09-29 05:32] #133 closed, assigned to nobody

[2020-09-29 06:10] #135 closed, assigned to nobody

[2020-10-05 14:52] azban opened #136 "v3 /jurisdictions failing for "New York""
not sure what's going on, but using the name, rather than the abbreviation for New York is failing.

https://v3.openstates.org/jurisdictions/New%20York?include=legislative_sessions -> 500
https://v3.openstates.org/jurisdictions/ny?include=legislative_sessions -> 200

doesn't seem to be a general encoding issue because 'Puerto Rico' is working fine.

[2020-10-05 15:46] jamesturk commented on #136
ah, I think I know what's going on- I need to enforce that the name-only lookup specifies state-jurisdictions only.  thanks for the heads up

[2020-10-05 16:07] azban commented on #136
sounds good. adding a classification flag and an error indicating that we need to pass the classification to disambiguate also works, if you think it would be better to be more explicit.

[2020-10-06 07:38] openstates-bot opened #137 "MI-scrape failing since at least 2020-10-06"
MI-scrape has failed 5 times since 2020-10-06

Logs:
[code]

[2020-10-06 14:14] showerst opened #138 "Turn off Indiana Scraper Oct 7-9"
I just received this email from the Indiana Legislative Services team, and wanted to be sure you saw it @jamesturk

----
The Indiana General Assembly will be conducting an information system test between October 7th and October 9th, 2020.   During this exercise, we will create test data in the production system.  Only test data will be entered during that timeframe, and any of the test data you ma

[2020-10-06 14:55] jamesturk commented on #138
👍 leaving this open to turn back on next week

[2020-10-06 21:55] biwashingtonial commented on #5
@jamesturk, @mileswwatkins +1 for adding the PR and DC at-large districts. I just noticed today that the query `people(first: 14, divisionId: "ocd-division/country:us/territory:pr/sldu:at-large")` returns an empty result. Not currently causing any problems in my world, but I can imagine it escalating a bit if statehood activism moves more mainstream in the new Congress.

[2020-10-07 07:02] openstates-bot opened #139 "SD-scrape failing since at least 2020-10-07"
SD-scrape has failed 5 times since 2020-10-07

Logs:
[code]

[2020-10-07 07:55] #137 closed, assigned to nobody

[2020-10-07 22:16] openstates-bot opened #140 "PA-text failing since at least 2020-10-07"
PA-text has failed 5 times since 2020-10-07

Logs:
[code]

[2020-10-08 07:04] #139 closed, assigned to nobody

[2020-10-08 07:32] openstates-bot opened #141 "MI-scrape failing since at least 2020-10-07"
MI-scrape has failed 3 times since 2020-10-07

Logs:
[code]

[2020-10-08 16:09] jchapman146 opened #142 "Alabama 2021 Session"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

**Issue Description:** There is a second Alabama 2020 session listed, but this is really the 2021 session. While the links look correct the data being displayed says 2020 Regular Session

**URL where this issue may be seen (API or OpenStates.org):** https://openstates.org/al/bills/?session=2

[2020-10-08 16:20] showerst commented on #142
This is a scraper bug in scrapers/al/__init__.py -- the 2021 session has the wrong name. Probably a cut & paste error by yours truly.

@jamesturk not sure if just updating the scraper will fix this or if you need to change the DB entry, i'll hold off on a patch until you clear it to make sure it wouldn't generate dupes.

[2020-10-08 16:23] jchapman146 commented on #142
Thanks for responding so quickly. I will keep an eye out for the fix.

Thanks!

From: showerst <notifications@github.com>
Sent: Thursday, October 8, 2020 9:21 AM
To: openstates/issues <issues@noreply.github.com>
Cc: Justin A. Chapman <justin.chapman@wegalvanize.com>; Author <author@noreply.github.com>
Subject: [EXT] : Re: [openstates/issues] Alabama 2021 Session (#142)

This is a scraper bug in sc

[2020-10-08 16:34] jamesturk commented on #142
Updating the name should be fine, thanks for catching this!

On Thu, Oct 8, 2020 at 12:23 PM Justin Chapman <notifications@github.com>
wrote:

[2020-10-08 17:09] alexobaseki commented on #77
SC scraper is still having timeout issues. Time out over 50% in the last 2 weeks [https://bobsled.openstates.org/task/SC-scrape](https://bobsled.openstates.org/task/SC-scrape). Wondering if we should open a new issue for this or continue from here?

[2020-10-08 17:17] jamesturk commented on #77
Not sure why it runs so much slower sometimes, but I'm going to try giving
it up to 10 hours to see if that helps...

On Thu, Oct 8, 2020 at 1:10 PM alexobaseki <notifications@github.com> wrote:

[2020-10-09 07:08] openstates-bot opened #143 "SD-scrape failing since at least 2020-10-08"
SD-scrape has failed 3 times since 2020-10-08

Logs:
[code]

[2020-10-09 17:26] azban commented on #141
looks like this has been failing intermittently for a week or so. it keeps failing on http://www.legislature.mi.gov/documents/2019-2020/Journal/House/htm/2020-HJ-09-23-075.htm which is a 20Mb file. there are no logs, so maybe this is an OOM? nothing pops out except for [lxml parsing](https://github.com/openstates/openstates-scrapers/blob/e04477adb6e2d76cffbf6de6eb06ff027d8363cc/scrapers/mi/bills.p

[2020-10-09 17:58] showerst commented on #141
FWIW i haven't had an issue w/ MI completing, which leans towards OOM as well.

[2020-10-09 18:18] jamesturk commented on #141
nice catch, i’ll try upping it

On Fri, Oct 9, 2020 at 1:59 PM showerst <notifications@github.com> wrote:

[2020-10-09 18:53] jamesturk commented on #142
looks good now!

[2020-10-09 18:53] #142 closed, assigned to nobody

[2020-10-09 19:18] #140 closed, assigned to nobody

[2020-10-09 21:44] #141 closed, assigned to nobody

[2020-10-10 05:02] #129 closed, assigned to jamesturk

[2020-10-10 07:02] #143 closed, assigned to nobody

[2020-10-10 09:17] #131 closed, assigned to nobody

[2020-10-10 09:43] #100 closed, assigned to nobody

[2020-10-10 15:39] #138 closed, assigned to nobody

[2020-10-11 05:41] ColbyReed opened #144 "AR vote data missing on most recently passed bills"
Passed bills from the last few sessions seem to be missing roll call vote data.

Example  bill from the 2020 Fiscal session:
https://openstates.org/ar/bills/2020F/SB43/

GraphQl query:
https://openstates.org/graphql#operationName=MyQuery&query=%7B%0A%20%20bill(jurisdiction%3A%20%22Arkansas%22%2C%20session%3A%20%222020F%22%2C%20identifier%3A%20%22SB%2043%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20

[2020-10-11 05:58] ColbyReed commented on #144
Also it seems that the order of events happening per day on a bill are reversed or in random order on the Open States website list. Though I'm assuming this is due to the scrappers only collecting the date of events rather than time of events.

[2020-10-12 19:23] #127 closed, assigned to nobody

[2020-10-12 21:50] jessemortenson opened #145 "LA 2020s2 bills missing, change scrape task config"
**Issue Description:** Query for Louisiana 2020s2 returns no bills, yet some [appear to be filed](https://legis.la.gov/legis/BillSearch.aspx?sid=LAST)

Looks like the scrape task is configured to always run `2020` even though the scraper is configured with `2020s2` as the most recent session. Changing config should do the trick. (I don't think regular session 2020 is open any longer)

**URL where

[2020-10-13 01:18] rmcarthur opened #146 "CA Data Scraper has dependency error."
**Issue Description:**
When running the docker compose commands according to the California specific instructions found [here](https://docs.openstates.org/en/latest/contributing/state-specific.html) I'm having a ModuleNotFoundError where SQLAlchemy does not appear to be properly installed by poetry before running the container.

[code]
I'm not familiar with poetry or dependency lock, but it could

[2020-10-13 01:26] rmcarthur commented on #146
On second thought, I think this is actually a documentation bug.
`docker-compose run --rm scrape ca bills --fast` should be `docker-compose run --rm ca-scrape ca bills --fast`.
Is that right?

[2020-10-13 05:26] rmcarthur opened #147 "Text Extraction of CA pdf failing"
I'm working with Mo Hayat with WashingtonAbstract and we're hoping to both utilize and contribute to OpenStates scrapers/API/Data. I only recently began playing around with the various repos available here, and have found only a few instances where our needs are not met. First thing I want to say is THANK YOU for everything you've done an the way in which you've done it. The documentation, use of

[2020-10-13 11:30] jamesturk commented on #146
yes that’s right, ca is the exception here

On Mon, Oct 12, 2020 at 9:27 PM Rex McArthur <notifications@github.com>
wrote:

[2020-10-13 15:02] jamesturk commented on #147
This seems to have broken since we had the documents being scraped...
thanks for flagging.

So two thoughts here: the openstates scraper itself should probably figure
out the actual document link, not link to the page that has JS on it.  The
text-extraction repo can then remain simpler ideally.

As far as using Selenium, we've avoided it this far, and I'd like to
continue if at all possible.  Gene

[2020-10-14 12:05] openstates-bot opened #148 "CT-scrape failing since at least 2020-10-14"
CT-scrape has failed 5 times since 2020-10-14

Logs:
[code]

[2020-10-14 20:14] #146 closed, assigned to nobody

[2020-10-14 20:14] jamesturk commented on #145
these are live now

[2020-10-14 20:14] #145 closed, assigned to nobody

[2020-10-14 20:15] jamesturk commented on #136
deployed the fix

[2020-10-14 20:15] #136 closed, assigned to nobody

[2020-10-15 04:31] rmcarthur commented on #147
Slack invite would be great. Can you send it to drexmcarthur@gmail.com? Happy to discuss and take a stab at it.

[2020-10-15 06:17] #148 closed, assigned to nobody

[2020-10-15 07:20] #71 closed, assigned to jamesturk

[2020-10-15 16:48] #130 closed, assigned to jamesturk

[2020-10-15 21:24] mollycode opened #149 "VA FTP scraping is flaky"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

**Issue Description:**
Sometimes VA ftp appears to be down causing the scraper to fail ~2-3 times a week lately.

Related discussion [here](https://github.com/openstates/openstates-scrapers/pull/3449) and change to cron frequency PR [here](https://github.com/openstates/task-definitions/commi

[2020-10-17 08:03] openstates-bot opened #150 "WA-scrape failing since at least 2020-10-17"
WA-scrape has failed 5 times since 2020-10-17

Logs:
[code]

[2020-10-17 21:22] ColbyReed commented on #144
Doesn't seem to be possible to re-scrape these bills as the scraper is dependent on:
ftp://www.arkleg.state.ar.us/SessionInformation/LegislativeMeasures.txt

But this data is cleared at the end of each session as also mentioned in this bug:
#115

Going to try to explore some rewrites of the scrapper to allow re scrapes of older sessions. Old session scrapes would more than likely be dependent on w

[2020-10-19 15:15] jamesturk commented on #150
just pushed a small fix for this

[2020-10-19 20:49] jamesturk commented on #8
closing in favor of #147 which I just realized is the same issue but has actual documentation & work on it

[2020-10-19 20:49] #8 closed, assigned to nobody

[2020-10-20 00:12] #150 closed, assigned to nobody

[2020-10-20 17:38] showerst commented on #147
This was on my mind anyway for rewriting the CA scraper to avoid the SQL database, so I asked about GET links at their feedback form here -- http://leginfo.legislature.ca.gov/faces/feedbackDetail.xhtml?primaryFeedbackId=prim1603215435573

Maybe we'll get lucky =)

[2020-10-21 20:32] jamesturk commented on #36
this is now available in V3 via the Jurisdictions endpoint, organizations have a list of their districts by default

[2020-10-21 20:34] #41 closed, assigned to nobody

[2020-10-22 21:36] jamesturk opened #151 "move email to top-level field"
an offshoot of #39:

Only 162 legislators currently have multiple email addresses listed.  Surveying them it looks like there are 3 broad categories:

- Kentucky has capitalization issues
- New Hampshire and Vermont often provide gmail addresses/etc. in addition to official emails
- a few people's email addresses seem to have changed, particularly in Virginia and Wisconsin

The only valid case is

[2020-10-25 07:03] openstates-bot opened #152 "MN-scrape failing since at least 2020-10-25"
MN-scrape has failed 5 times since 2020-10-25

Logs:
[code]

[2020-10-26 15:44] showerst opened #153 "SD needs a new scraper"
Looks like SD significantly changed their website.

I've started a WIP branch here -- https://github.com/openstates/openstates-scrapers/pull/3450

But likely won't continue on it until later in the year since they're out. Just flagging in case anyone has time to work on it sooner.

[2020-10-26 20:36] stevesuo opened #154 "Legislator data October update"
**Is your feature request related to a problem? Please describe.**
Seeking updated data.

**Describe the solution you'd like**
A current-as-of-October-2020 roster of legislators available in bulk data dump in any format.

**Describe alternatives you've considered**
Contacting National Conference of State Legislatures. Unclear if data exists in anything close to current form.

**Additional context*

[2020-10-26 20:44] jamesturk commented on #154
Hi Steve,

Any state(s) in particular you're concerned about out of date data, we've
kept things mostly up to date thus far, but specials & resignations can
slip past us.

James

On Mon, Oct 26, 2020 at 4:36 PM Steve Suo <notifications@github.com> wrote:

[2020-10-27 00:54] stevesuo commented on #154
Ah. So you're referring to data accessible via the API, for which scrapers
have run recently, I presume?

We could try pulling from the API, but I was being lazy and suggesting the
bulk download option. It looked to me like the data dump was last run in
January of this year.

Steve

On Mon, Oct 26, 2020 at 1:44 PM James Turk <notifications@github.com> wrote:

--
-- Steve

[2020-10-27 01:55] showerst commented on #154
Take a look at https://github.com/openstates/people where we offer all our member data in as a flat file export. That should be up to date.

[2020-10-27 06:02] openstates-bot opened #155 "MO-scrape failing since at least 2020-10-27"
MO-scrape has failed 5 times since 2020-10-27

Logs:
[code]

[2020-10-28 07:03] openstates-bot opened #156 "SD-scrape failing since at least 2020-10-28"
SD-scrape has failed 5 times since 2020-10-28

Logs:
[code]

[2020-10-28 18:08] jamesturk commented on #154
https://openstates.org/data/legislator-csv/ also has CSV files that are generated nightly, let us know if you have any issues!

[2020-10-28 18:08] #154 closed, assigned to nobody

[2020-10-29 18:50] kaddae opened #157 "CT State Official data out of date"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

Phone number OOD for --> https://openstates.org/person/roland-j-lemar-1C3JFNLDqyjQOC9sEj5NLm/

assume this is the case for other state officials.

Updated data -> https://www.housedems.ct.gov/Lemar

Can be pulled from - https://www.housedems.ct.gov/find

[2020-10-30 17:54] #151 closed, assigned to nobody

[2020-10-30 17:55] #36 closed, assigned to nobody

[2020-10-30 23:12] rmcarthur commented on #147
http://leginfo.legislature.ca.gov/faces/feedbackDetail.xhtml?primaryFeedbackId=prim1603215435573 Looks like they've responded and don't intend to support it.

[2020-10-31 07:08] #152 closed, assigned to nobody

[2020-11-02 20:54] jamesturk commented on #147
Well then :/

I'm taking a couple days off this week, but I'll find time soon to sit down
& seriously figure out how to integrate this.

On Fri, Oct 30, 2020 at 7:12 PM Rex McArthur <notifications@github.com>
wrote:

[2020-11-05 05:03] openstates-bot opened #158 "TN-scrape failing since at least 2020-11-05"
TN-scrape has failed 5 times since 2020-11-05

Logs:
[code]

[2020-11-07 06:03] #155 closed, assigned to nobody

[2020-11-09 05:03] openstates-bot opened #159 "DE-scrape failing since at least 2020-11-09"
DE-scrape has failed 5 times since 2020-11-09

Logs:
[code]

[2020-11-09 18:55] #39 closed, assigned to jamesturk

[2020-11-09 19:17] jamesturk commented on #29
closed as I re-evaluate future subscription plans

[2020-11-09 19:17] #29 closed, assigned to nobody

[2020-11-09 19:17] jamesturk commented on #27
closed as I re-evaluate future subscription plans

[2020-11-09 19:17] #27 closed, assigned to jamesturk

[2020-11-09 19:23] jamesturk opened #160 "2021 Legislator Updates"
Beginning to come up with update plan for this, but wanted to create an issue to track them so we don't wind up with a ton across the states:

Master Sheet: https://airtable.com/shrtOIWoL0ddYpe1h -- ask here for access if you need to edit

[2020-11-09 19:24] jamesturk commented on #108
rolling into #160

[2020-11-09 19:24] #108 closed, assigned to nobody

[2020-11-09 19:24] jamesturk commented on #157
rolling into #160

[2020-11-09 19:24] jamesturk commented on #54
moving into #160

[2020-11-09 19:24] #54 closed, assigned to nobody

[2020-11-09 19:25] #48 closed, assigned to nobody

[2020-11-09 19:25] #50 closed, assigned to nobody

[2020-11-09 19:27] #157 closed, assigned to nobody

[2020-11-09 19:30] jamesturk commented on #156
disabling scrape for now, #153 will fix

[2020-11-09 19:30] #156 closed, assigned to nobody

[2020-11-09 19:32] jamesturk commented on #53
#160 would be a good time to revisit

[2020-11-09 19:50] jamesturk opened #161 "2021 Session Updates"
Planning for this is coming soon, but wanted to make a catch-all for now:

Master Sheet: https://airtable.com/shrtOIWoL0ddYpe1h -- ask here for access if you need to edit

[2020-11-10 05:03] openstates-bot opened #162 "SD-scrape failing since at least 2020-11-10"
SD-scrape has failed 5 times since 2020-11-10

Logs:
[code]

[2020-11-10 06:03] openstates-bot opened #163 "MD-scrape failing since at least 2020-11-10"
MD-scrape has failed 5 times since 2020-11-10

Logs:
[code]

[2020-11-11 06:05] #158 closed, assigned to nobody

[2020-11-11 19:48] #37 closed, assigned to jamesturk

[2020-11-11 19:48] jamesturk commented on #37
existing DQR is good for now, will hopefully revisit in 2021 with enhancements

[2020-11-13 05:03] openstates-bot opened #164 "TX-scrape failing since at least 2020-11-13"
TX-scrape has failed 5 times since 2020-11-13

Logs:
[code]

[2020-11-14 04:03] openstates-bot opened #165 "SC-scrape failing since at least 2020-11-14"
SC-scrape has failed 5 times since 2020-11-14

Logs:
[code]

[2020-11-15 05:03] openstates-bot opened #166 "GA-scrape failing since at least 2020-11-15"
GA-scrape has failed 5 times since 2020-11-15

Logs:
[code]

[2020-11-15 05:55] rmcarthur commented on #147
Ping on this. Happy to spend some time sorting it out, just want to know what direction you want to go before I really tackle it.

[2020-11-16 16:09] showerst commented on #161
Just a few notes --

Working Prefiles:

- AL
- AR (added 11/16)
- KY (with scraper flag)
- FL
- MO (added 12/3)
- TN
- TX (added 11/16)
- GA (added 11/20)
- OK (added 11/20)
- NV (added 11/20)

2021 Ignored:

- DE
- ID
- MD
- SC
- WA
- VT

Needs new scraper:

- SD

@jessemortenson ping so you're in the loop as well.

[2020-11-16 20:30] jessemortenson commented on #161
Thanks! filed a PR re: KY https://github.com/openstates/task-definitions/pull/9

[2020-11-17 05:14] #165 closed, assigned to nobody

[2020-11-17 06:02] openstates-bot opened #167 "IN-scrape failing since at least 2020-11-17"
IN-scrape has failed 5 times since 2020-11-17

Logs:
[code]

[2020-11-17 06:08] #159 closed, assigned to nobody

[2020-11-17 08:17] #166 closed, assigned to nobody

[2020-11-19 17:01] azban opened #168 "Bill updated_at timestamps are in the future (UTC +6?)"
i'm seeing updated_at timestamps in the future consistently on bills in v2 and v3. it seems like i need to shift the timestamp by -6 hours for all updated_at's to be before the time of the query. can provide more historical data on this, if helpful.

running this query at `16:53:53+00:00`:
[code]
returns:
[code]

[2020-11-19 18:12] jamesturk commented on #147
Sorry for the delay- I do think we can aim to pull these in, I'm hoping to
land a test harness next week and would like to bring this in afterwards.

On Sun, Nov 15, 2020 at 12:56 AM Rex McArthur <notifications@github.com>
wrote:

[2020-11-20 06:52] #126 closed, assigned to nobody

[2020-11-22 04:02] openstates-bot opened #169 "MN-scrape failing since at least 2020-11-22"
MN-scrape has failed 5 times since 2020-11-22

Logs:
[code]

[2020-11-23 12:16] bhrutledge opened #170 "MA: House districts should be abbreviated"
**Issue Description:** In [the Massachusetts `people` scraper](https://github.com/openstates/openstates-scrapers/blob/870bf5283ac650c98252a574f439c8e66bb5eb6e/scrapers/ma/people.py#L6), there's a `clean_district` function that turns things like "27th" into "Twenty-Seventh". However, that changes the canonical name of the House districts (which are abbreviated), which makes them harder to distingui

[2020-11-24 20:48] jamesturk commented on #170
Thanks, this is enlightening -- I don't recall how this decision was initially made, I assume it was to be consistent but it does look like the state sources you provided are pretty consistent in treating them this way.  We'll need to adjust the people data accordingly, which might take a little while as I don't want to break the find your legislator tool/etc. for that, so I'll need to double chec

[2020-11-24 20:50] jamesturk opened #171 "updated_at shouldn't update if data hasn't changed"
As discussed between myself, @azban and @showerst -- scraped data should be consistent between runs.  To start with this, we'll figure out places that ordering isn't preserved but sorting would fix them.  @azban has some examples that could get us started.

[2020-11-24 21:11] #115 closed, assigned to nobody

[2020-11-24 22:48] bhrutledge commented on #170
@jamesturk Thanks for considering this. Is there anything I can do to facilitate?

I know of at least one project that could by affected: https://scorecard.progressivemass.com/. Poking through their [source code](https://github.com/ProgressiveMass/legislator-scorecard/) makes me optimistic that they're just passing API value through to the frontend, so hopefully this would not be a breaking change

[2020-11-25 01:13] huttj opened #172 "Duplicate entries for Warren Petersen"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

**Issue Description:**
Rep. Warren Petersen (AZ-12) has two entries, one as [Warren H. Petersen](https://github.com/openstates/people/blob/main/data/az/retired/Warren-H-Petersen-ed4a5610-c1a7-4e6d-8d67-2b70eb2ef94f.yml) and one as [Warren Petersen](https://github.com/openstates/people/blob/m

[2020-11-29 05:02] openstates-bot opened #173 "CT-scrape failing since at least 2020-11-29"
CT-scrape has failed 5 times since 2020-11-29

Logs:
[code]

[2020-11-30 19:36] jessemortenson commented on #161
Added a PR for ME. Appears to be the first regular session, starting this wed. :partying_face:

https://github.com/openstates/openstates-scrapers/pull/3467

[2020-11-30 20:56] #172 closed, assigned to nobody

[2020-11-30 20:57] jamesturk commented on #149
looks like altering the times/etc. fixed this, no failures in the last few weeks: https://bobsled.openstates.org/task/VA-scrape

[2020-11-30 20:57] jamesturk commented on #149
marking this as resolved, we can re-open as needed if it gets bad again

[2020-11-30 20:57] #149 closed, assigned to nobody

[2020-11-30 21:30] jamesturk commented on #147
@rmcarthur do you think it'd be possible to mock the request without actually executing the JS?  if so I think I'd like to get this into the scraper itself, so that the scraper is actually saving correct links to the PDF.

this is the only state with this specific issue, so I'd prefer for now it live in the california specific code instead of a generic module as well.  glad to chat more on Slack/e

[2020-11-30 21:40] jamesturk commented on #168
can confirm this is the case in the database as well, definitely a TZ issue on save

[2020-11-30 22:00] jamesturk commented on #168
fix incoming, i'll check dates tomorrow and see if they look correct

[2020-12-01 20:18] jessemortenson commented on #161
Say @showerst you have "NM (added 11//24)" listed above but I don't see prefiles on the NM page, nor does the scraper code include a 2021 session, is that a typo?

[2020-12-01 20:56] showerst commented on #161
Oops, yeah that was a special they just ran last week, not a prefile. Apologies, got my wires crossed.

[2020-12-01 20:58] jamesturk commented on #168
This looks like it is fixed-- there was an ECS infrastructure issue last night so minimal updates but a manual CO run today has the correct timestamp on the updated bills.  If any others resurface let's reopen as needed.

[2020-12-01 20:58] #168 closed, assigned to nobody

[2020-12-02 19:27] #164 closed, assigned to nobody

[2020-12-03 00:18] benbadio opened #174 "North Carolina senator/representative image links not working"
**Issue Description:**
Image links currently in use for North Carolina senators and representatives are invalid. The problem is that the provided links are structured incorrectly.

Take for example, NC State Representative Allen McNeill. This is the link provided for his image:

http://www.ncleg.net/House/pictures/hiRes/635.jpg

The link should actually be the following:

https://www.ncleg.gov/Mem

[2020-12-03 05:03] openstates-bot opened #175 "TX-scrape failing since at least 2020-12-03"
TX-scrape has failed 5 times since 2020-12-03

Logs:
[code]

[2020-12-03 17:10] #175 closed, assigned to nobody

[2020-12-03 18:03] openstates-bot opened #176 "CA-scrape failing since at least 2020-12-03"
CA-scrape has failed 5 times since 2020-12-03

Logs:
[code]

[2020-12-04 16:20] showerst commented on #161
ID, VT, and WA all started failing. It looks like none are prefiles though, so i'm just going to queue up the ignores.

[2020-12-05 18:48] rogerscg opened #177 "[Development] Unable to start openstates.org on Windows via docker-compose"
I'm trying to bring up a local instance of openstates.org on my Windows machine. I was able to do this successfully on my Macbook.

The error I'm seeing relates to Django:
`django_1  | standard_init_linux.go:211: exec user process caused "no such file or directory"`

When searching for this error, I see a few solutions that pertain to switching line endings from CRLF to LF. I checked all Dockerfil

[2020-12-07 04:02] openstates-bot opened #180 "AZ-scrape failing since at least 2020-12-07"
AZ-scrape has failed 5 times since 2020-12-07

Logs:
[code]

[2020-12-07 11:16] bhrutledge commented on #170
On a whim, I opened https://github.com/openstates/openstates-scrapers/pull/3476.

Also, could the investigation part of this be rolled into #160?

[2020-12-07 18:12] showerst opened #181 "Add 'related' as a new bill relation type"
This is mostly as a reminder to me -- some times we run across bills that have related bills, but they don't fit the enum in
https://github.com/openstates/openstates-core/blob/082210489693b31e6534bd8328bfb895427e9eed/openstates/data/common.py#L93

So maybe add either a catch-all "related" or enrich that enum a bit.

[2020-12-07 21:45] jamesturk commented on #177
If someone that's knowledgeable in Docker & Windows has a chance & sees this, a pointer or two as to what might be going on would be appreciated.

[2020-12-07 21:46] jamesturk commented on #174
Thanks for reporting this, should be a fairly low-hanging fix to the data in openstates/people for someone if they have a chance before a core team member gets to it.

[2020-12-08 05:02] openstates-bot opened #182 "NH-scrape failing since at least 2020-12-08"
NH-scrape has failed 5 times since 2020-12-08

Logs:
[code]

[2020-12-08 18:07] showerst commented on #161
CA started, working on it now.

[2020-12-08 21:12] #43 closed, assigned to nobody

[2020-12-08 21:17] #162 closed, assigned to nobody

[2020-12-08 21:21] jamesturk commented on #24
moving into the improved linkage milestone, depends on #22

[2020-12-08 21:21] jamesturk commented on #30
moving into the improved linkage milestone, depends on #22

[2020-12-08 21:21] jamesturk commented on #34
moving into the improved linkage milestone, depends on #22

[2020-12-08 21:21] jamesturk commented on #38
moving into the improved linkage milestone, depends on #22

[2020-12-08 21:27] #176 closed, assigned to nobody

[2020-12-08 21:28] #163 closed, assigned to nobody

[2020-12-08 21:28] #167 closed, assigned to nobody

[2020-12-08 21:30] #182 closed, assigned to nobody

[2020-12-08 21:31] #173 closed, assigned to nobody

[2020-12-08 21:31] #180 closed, assigned to nobody

[2020-12-08 21:40] #170 closed, assigned to nobody

[2020-12-09 04:03] openstates-bot opened #184 "AZ-scrape failing since at least 2020-12-09"
AZ-scrape has failed 5 times since 2020-12-09

Logs:
[code]

[2020-12-09 04:49] openstates-bot opened #185 "MD-scrape failing since at least 2020-12-09"
MD-scrape has failed 5 times since 2020-12-09

Logs:
[code]

[2020-12-09 05:02] openstates-bot opened #186 "CT-scrape failing since at least 2020-12-09"
CT-scrape has failed 5 times since 2020-12-09

Logs:
[code]

[2020-12-09 06:03] openstates-bot opened #187 "IN-scrape failing since at least 2020-12-09"
IN-scrape has failed 5 times since 2020-12-09

Logs:
[code]

[2020-12-09 06:58] beatthat opened #188 "import/export tool to empower non-technical volunteers to update openstates/people data"
**Is your feature request related to a problem? Please describe.**

There are many politically engaged but non-technical volunteers who would contribute their time to make openstates people data as accurate as possible, but we can't ask them to fork a git repo, create a branch, edit yaml, run scripts, do a pull request, etc.

We can, however, give them a link to an online [airtable](https://airtab

[2020-12-09 18:35] jamesturk commented on #188
This sounds great, I'm not that familiar with Airtable, but if you think the workflow could be similar to what you're saying it is essentially a missing piece of this that I'd long hoped to find time to build- but had planned something that interacted with Git directly.  Doing it this way would be fantastic, I'd be glad to be involved in any conversations about planning/etc. that are needed.    Le

[2020-12-09 18:36] #187 closed, assigned to nobody

[2020-12-09 18:48] showerst commented on #161
WA started, working on it today.

[2020-12-09 21:56] LukeClancy opened #189 "Lots of Missing voter_id data on opencivicdata_personvote table for pg_dump endpoint"
**Issue Description:**

Using a database originating from the pg_dump endpoint (2020-12) I have noticed that there are alot of rows in the opencivicdata_personvote table where the voter_id is NULL. It is worth noting that the voter_name is still set properly for all these rows.

- Number of votes with a voter_name but without a voter_id: 10119945
- query for above: select COUNT(*) FROM opencivicda

[2020-12-09 22:13] jamesturk commented on #189
See #22.

This is known and matching legislators is an ongoing effort, probably a focus of
spring 2021 after sessions are underway and being ingested, but any help
would be appreciated.

On Wed, Dec 9, 2020 at 4:57 PM Luke Clancy <notifications@github.com> wrote:

[2020-12-09 23:24] LukeClancy commented on #189
Thanks for the information and reply!

Is the code matching peoples names taking place in: https://github.com/openstates/people/blob/main/scripts/unmatched_legislators.py ? How do I setup the software for development? Are you currently using a [Machine Learning based algorithm for matching](https://towardsdatascience.com/fuzzy-name-matching-with-machine-learning-f09895dce7b4) or is it string match

[2020-12-10 16:35] jamesturk commented on #189
We're aiming at a more manual approach than machine learning/etc. because
our priority is precision and don't have the capacity to audit the results
at the appropriate level for automated matching.

So we're building on string matching with aliases as mentioned in the
parent issue.  The good news is that there aren't that many legislators
relatively speaking, and their aliases rarely change (maybe

[2020-12-10 16:36] jamesturk commented on #189
gonna close this one out, let's keep discussion on #22

[2020-12-10 16:36] #189 closed, assigned to nobody

[2020-12-10 16:41] beatthat commented on #188
great. will get started on this this weekend

[2020-12-10 16:45] #184 closed, assigned to nobody

[2020-12-13 05:58] beatthat commented on #188
@jamesturk I have a question that applies to three of the properties in `openstates/people` documents:

For the list fields `party`, `links`, and `sources`, are the list-item values ever more than a single string?

For example, every `party` record I've found looks like this:

[code]

...and every `links` or `sources` entry I have found looks like this:

[code]

...it makes like easier if I can as

[2020-12-14 16:08] jamesturk commented on #188
Technically, we can support additional values there, party memberships can
have start/end dates, links can have notes.  They are rare, but do occur.

I'm not so much concerned about people being able to edit them as much as the fact
that the process sounds like it'd be lossy if it couldn't support at least
keeping the values as they were.  That'd be an issue for people that have
switched party in

[2020-12-14 20:26] showerst opened #192 "OH Scraper Failing"
OH is failing due to some certificate shenanigans. I'm doing some work on that scraper anyway so I should have a patch in the coming days.

[2020-12-14 20:47] jamesturk opened #193 "add "hidden" bill classifications for certain types of bill"
Primarily stemming from Montana's prefiles, where LCs are numerous and we want to capture them, but they aren't quite full bills.  We want to ensure that there's a way to scrape certain classifications of bills but give people a way to exclude them as needed, possibly even excluding them by default.

Steps:

- [x] decide upon classification ("proposed bill" exists, or we could add "bill request")

[2020-12-14 20:47] jamesturk commented on #193
we'll use existing `proposed bill` for MT LCs, others may need to be added/documented as well

[2020-12-14 20:58] showerst commented on #193
While we're on the subject, I'd like to update HI to capture [governor's messages](https://www.capitol.hawaii.gov/advreports/advreport.aspx?year=2020&report=deadline&rpt_type=&measuretype=gm&title=Governor%27s%20Messages) which is a weirdo state specfic mixed-type, that can be an appointment, a budget modification, or something else.

These might fall into the same bucket as MT prefiles where they

[2020-12-14 21:04] jamesturk commented on #193
Those look good to include to me.  I think I'll hide the proposed bills in the OS.org UI, but leave them as-is in the API.  I think that means that from your end Jesse, you can just add them to the MT scraper and folks can just choose to exclude/include them as they choose if they're using API or JSON.

[2020-12-15 07:07] #169 closed, assigned to nobody

[2020-12-15 08:02] jessemortenson commented on #193
Incidentally looks like NH is another example that has proposed bills though the data available is just title, chamber and sponsors ("Legislative Service Requests") http://www.gencourt.state.nh.us/lsr_search/LSR_Results.aspx

[2020-12-15 08:06] jessemortenson commented on #161
NH scraper has ingested 4 bills, but they look like bad data. Looks like NH 2021 session posted on source website but it is temporary/template data or something: http://www.gencourt.state.nh.us/bill_status/ - might want to clear those bills in the OS DB and pause the scraper, not sure what protocol is here

[2020-12-15 08:20] jessemortenson commented on #161
IA prefiles appear to be vague proposed bills - lacking a clear identifier (maybe the string that is in parentheses? or the PDF filename?). OTOH they do have real bill text. https://www.legis.iowa.gov/legislation/billTracking/prefiledBills?r=true&ga=89&session=1

[2020-12-15 14:13] jamesturk commented on #193
MT gov messages look good to me, I'm getting a timeout on NH LSRs right now but will check back later

The more I think about these the more I think being liberal with what we accept but clearly label them is the right approach, they're unlikely to cause much harm and are easy enough to filter out for API consumers/etc. that don't want them.  OpenStates.org will filter certain bill types but the A

[2020-12-15 21:48] jessemortenson commented on #186
@jamesturk is this a thing you've seen before w CT, or likely a problem on CT's end where it might behoove us to make a technical inquiry to ask them to fix? I googled "550 Keyset does not exist" for a minute and found only inscrutable IIS configuration steps

[2020-12-15 21:57] jamesturk commented on #193
going to close this as I think the core issue here is resolved now, anything with classification="proposed bill" will not show up on openstates.org and can be filtered easily by API users

[2020-12-15 21:57] #193 closed, assigned to nobody

[2020-12-15 21:58] jamesturk commented on #181
to mirror what we do with other places where we can't classify (e.g. actions or vote types) would it work for you to allow an empty classification?  I can do that in core next time I'm digging around in there

I'm also up for adding any new classifications if we know what they are

[2020-12-15 22:00] showerst commented on #186
FWIW I can't connect via the normal ubuntu CLI command either.

In the past they've also taken the FTP down around the end of session. Usually it comes back when the new session starts and they load up new data.

[2020-12-15 22:03] showerst commented on #181
That seems like a good solution to me, this bug was specifically in response to the federal bill xml where they list 'related' bills that are usually on a similar subject matter, but they're not like companions or anything.

So no rush on it from my end but if you knock it out incidentally that would be great, I imagine there's a state or two where that applies as well.

[2020-12-15 22:05] jamesturk opened #194 "switch to using GH actions to build docker images"
Docker Hub is pretty slow to build, and GH actions is a lot faster from what I've been seeing on the things I have that are using it.  It also gets us a more accessible place to check if the image didn't build, etc.

Since bobsled uses these built images, it isn't uncommon for a scraper/person fix to miss the window if docker hub is backlogged and that's caused some confusion where the scrape run

[2020-12-16 15:29] jamesturk commented on #194
renamed openstates/openstates to openstates/scrapers for clarity/parity

[2020-12-17 05:03] openstates-bot opened #195 "OH-scrape failing since at least 2020-12-17"
OH-scrape has failed 5 times since 2020-12-17

Logs:
[code]

[2020-12-17 21:42] jamesturk commented on #153
@NewAgeAirbender is working on this

[2020-12-17 22:15] jamesturk commented on #58
was told today that they don't expect to make any updates, going to close this one out :(

[2020-12-17 22:15] #58 closed, assigned to nobody

[2020-12-17 22:17] #185 closed, assigned to nobody

[2020-12-17 22:17] #186 closed, assigned to nobody

[2020-12-17 22:19] jamesturk commented on #111
@SusanOhio if you see this, do you have any bills that you know have a vote that we can investigate more closely

[2020-12-17 22:25] jamesturk commented on #24
OH votes are pretty well linked.. https://openstates.org/vote/ba93cedc-4169-4a7e-a442-4b264b4eaf99/

[2020-12-18 00:45] SusanOhio commented on #111
I’d sent that message back in the spring or summer and don’t specifically recall which bills I was looking at, but probably some of the ones having to do with the primary election.

I looked at the bills I’m tracking in the end of session and those do appear to be correctly updating now.

Thanks, and if I do come across one that isn’t updating, I’ll message you directly. Thanks.

[2020-12-18 02:20] jamesturk commented on #111
great to hear, sorry for the delay and get in touch if anything is wrong later

[2020-12-18 02:21] #111 closed, assigned to nobody

[2020-12-18 23:21] jessemortenson opened #196 "VA not capturing sponsorships consistently"
**Issue Description:** Looks like sponsors are missing from bills that the VA website indicates should have at least one sponsor. Looking at about 20 bills on the VA site, all have at least one sponsor ("patron"), the person who introduced the bill. So I think any bill in OS data that lacks sponsors is probably suspect.

**URL where this issue may be seen (API or OpenStates.org):**

https://openst

[2020-12-18 23:47] jessemortenson opened #197 "VA 2021 bill versions named "Impact statement" not actually impact statements"
**Issue Description:** VA 2021 appears to have about 280 bills with one version where the `note` is something like "Impact statement from...". However, the URL in `links` for that version actually points to a bill text document. (There is also an Impact statement document, but it's a different URL).

**URL where this issue may be seen (API or OpenStates.org):**

https://openstates.org/va/bills/202

[2020-12-19 20:40] harrymattison opened #198 "People search 'filter by name' does not work"
The first person returned by this query is `"name":"Aaron Michlewitz"`
[code]

But when the `name` filter is added to search for someone named `aaron`, nothing is returned
[code]

[2020-12-19 20:48] harrymattison opened #199 "Add new issue template for api-v3"
https://github.com/openstates/issues/issues/new/choose has an option for GraphQL API but there is no option for api-v3

[2020-12-19 20:56] harrymattison opened #200 "Broken link at https://docs.openstates.org/en/latest/api/v3/index.html"
This link to https://docs.openstates.org/en/latest/api/v3/TODO does not work

"You can also check out our **introductory blog post** for more details."

[2020-12-20 08:03] openstates-bot opened #201 "OR-scrape failing since at least 2020-12-20"
OR-scrape has failed 5 times since 2020-12-20

Logs:
[code]

[2020-12-21 08:03] openstates-bot opened #202 "IA-scrape failing since at least 2020-12-21"
IA-scrape has failed 5 times since 2020-12-21

Logs:
[code]

[2020-12-21 15:01] #199 closed, assigned to nobody

[2020-12-21 15:02] #200 closed, assigned to nobody

[2020-12-21 15:05] jamesturk commented on #198
just confirmed, right now this is an exact match, it should be a fuzzy search to match v1 and v2 behavior

[2020-12-21 15:19] jamesturk commented on #196
spent a bit of time calling around this morning and eventually spoke to their LIS dept, confirmed that the sponsors shouldn't be missing from CSVs and they believe it is a data issue on their end.  Should hear back soon

[2020-12-21 15:50] jamesturk commented on #196
after one more conversation, looks like there's an edge case where single sponsors are omitted from Sponsors.csv.  adding a workaround using summary data

[2020-12-21 15:51] jamesturk commented on #197
the document name matching code is definitely wrong.  trying to sort out if there's a better key or if our document names are going to be uglier

[2020-12-21 16:17] showerst commented on #197
https://github.com/openstates/openstates-scrapers/blob/master/scrapers/va/csv_bills.py#L347

I think this loop needs to be short circuited so we match the version to the first action that contains the bill code. That way if they post a fiscal impact or other related doc in a later action, we don't overwrite the name.

Haven't had time to test yet, so feel free to beat me to it =).

[2020-12-21 16:23] jamesturk commented on #197
It turns out they aren't actually including the same code in the two CSVs, but it looks like if there's a document id (8 digits then a D) with the same date that's the action that corresponds to the bill.

Just pushed that fix to a branch, we weren't actually grabbing Fiscal Notes, so working on that small addition now

[2020-12-21 16:43] jamesturk commented on #197
fix for this is pushed, bill versions are actually versions and labeled as best we can, fiscal Impact statements added

[2020-12-21 16:52] jamesturk commented on #198
pushed a fix for this, thanks for reporting!

[2020-12-21 16:52] #198 closed, assigned to nobody

[2020-12-21 16:55] jamesturk commented on #196
fixed!

[2020-12-21 16:55] #196 closed, assigned to jamesturk

[2020-12-21 16:55] jamesturk commented on #197
verified in the scrape

[2020-12-21 16:55] #197 closed, assigned to jamesturk

[2020-12-21 17:53] jamesturk commented on #53
Looks like the format is predictable:

https://lcmspubcontact.lc.ca.gov/PublicLCMS/ContactPopup.php?district=AD04&inframe=N
& for senate
https://lcmspubcontact.lc.ca.gov/PublicLCMS/ContactPopup.php?district=SD26&inframe=N

[2020-12-21 18:15] #53 closed, assigned to nobody

[2020-12-21 20:33] jessemortenson opened #203 "WA ~30 bills missing bill versions in 2021-2022 session"
**Issue Description:** About 30 bills appear to be missing versions in 2021-2022 data. Spot checking a few, it seems like versions *are* posted on the source website.

    SB 5000
    SB 5001
    SB 5002
    SB 5003
    SB 5004
    SB 5005
    SB 5006
    SB 5007
    SB 5008
    SB 5009
    SB 5010
    SB 5011
    SB 5012
    SB 5013
    SB 5014
    SB 5015
    SB 5016
    SB 5017
    SB 5018

[2020-12-21 21:14] showerst commented on #203
Taking a look at this now. My guess is the self.versions dict is getting overridden between chambers.

[2020-12-22 02:10] jamesturk commented on #203
confirmed in scrape, thanks @showerst !!

[2020-12-22 02:10] #203 closed, assigned to nobody

[2020-12-22 07:51] openstates-bot opened #204 "MT-scrape failing since at least 2020-12-22"
MT-scrape has failed 5 times since 2020-12-22

Logs:
[code]

[2020-12-22 08:03] #201 closed, assigned to nobody

[2020-12-22 18:30] jamesturk commented on #204
on this one now

[2020-12-22 22:05] #204 closed, assigned to jamesturk

[2020-12-23 08:42] #195 closed, assigned to nobody

[2020-12-25 15:15] jdubansky commented on #202
This is because there are no bills yet for GA 89 yet.

[2020-12-27 04:01] jdubansky opened #206 "Redis is not configured in API v3 Docker images"
This is the right template to select if you're reporting an issue with the functionality of the v3 API.
If this is a data issue, please select data issue instead!

**API Query (be sure to omit API key!!!):**
[code]
If I use a key that is revoked it tells me the key is wrong but when I use a valid key it throws this error:
`api_1  | 172.19.0.1:59420 - "GET /jurisdictions?classification=state&includ

[2020-12-27 04:31] jdubansky commented on #206
When I went back to this version of auth.py it looks like it works.

https://github.com/openstates/api-v3/blob/f3f951b2dbe9160301c01eaa339aafea93eb74ed/api/auth.py

[2020-12-27 18:10] bhrutledge opened #207 "MA: people data shape is out of sync scraper"
Related to https://github.com/openstates/people/pull/374, I've been working through the contributing instructions for [scrapers](https://docs.openstates.org/en/latest/contributing/scrapers.html) and [people](https://docs.openstates.org/en/latest/contributing/people.html). When I get to `merge.py`, all of the files are modified, because it looks like the `people` scraper was modified in 2017 ([diff

[2020-12-28 14:46] jamesturk commented on #207
The YAML is expected to diverge from the actual output, the task to update the people is reflected in #160.  If you have the resources it'd be great to get MA people merged with any new data, scraper updates are typically required as you've noticed here.

[2020-12-28 14:46] #207 closed, assigned to nobody

[2020-12-28 14:47] jamesturk commented on #206
updated name of task to reflect this is an issue w/ Redis in the docker-compose, not with the API

[2020-12-28 15:11] bhrutledge commented on #207
Thanks, @jamesturk. I'm feeling motivated to tackle this. If I understand correctly, the process would be something like:

- Update MA `people` scraper output to match current shape of `people` data
- Run MA `people` scraper
- Change filenames of existing `people` data to match `name` attribute
- Run `to_yaml.py`
- Run `merge.py --incoming`

Does that look right? Do any of those items warrant dedi

[2020-12-28 15:14] jamesturk commented on #207
The merge script tries to detect name changes and offers to merge them anyway, so the only step that shouldn’t be needed generally is the change filenames step unless I’m misunderstanding something.

It’s a bit annoying as you’ve noted, and improvements to the merge script would be welcome if they are general purpose and made things merge cleaner.

The only main schema change would be the email on

[2020-12-28 19:37] bhrutledge commented on #207
Thanks @jamesturk. Before getting started on this, I'm inclined to finish the work of updating district names, which I think is currently blocked waiting for feedback re: updates in openstates-core: https://github.com/openstates/people/pull/374#issuecomment-751479771.

[2020-12-28 20:11] jamesturk commented on #206
should be fixed by https://github.com/openstates/api-v3/pull/7

 I'll need to mess with my local setup to try this out, but if you get a chance to verify locally that'd be great

[2020-12-28 21:17] openstates-bot opened #208 "MD-scrape failing since at least 2020-12-28"
MD-scrape has failed 5 times since 2020-12-28

Logs:
[code]

[2020-12-29 02:18] #194 closed, assigned to jamesturk

[2020-12-29 15:58] bhrutledge commented on #207
I don't know how to proceed re: the `email` schema change, which seems to be encompassed by work for https://github.com/openstates/issues/issues/151 and https://github.com/openstates/people/pull/336. However, I don't see it reflected in [schemas/person.py](https://github.com/openstates/openstates-core/blob/main/openstates/scrape/schemas/person.py), or in the [`Person` class](https://github.com/ope

[2020-12-29 16:44] #208 closed, assigned to nobody

[2020-12-29 20:44] juliesutton opened #209 "addresses marked wrong location"
I wondered what to do when we find an address that is marked a wrong location?  for example 400 Buford Highway, Suwanee, GA 30024

[2020-12-29 20:47] jamesturk commented on #209
If you can give more details (the expected results, what you got, etc.) we can look into it.  If you don’t want to share publicly, you can also email contact@openstates.org
On Dec 29, 2020, 3:44 PM -0500, juliesutton <notifications@github.com>, wrote:

[2020-12-29 20:52] juliesutton commented on #209
Thank you.  The pin point on your map is in the wrong location of the address… if you look at the pic below the pinpoint should be above the word “Suwanee”

I will email contact@.

[cid:image001.png@01D6DDFA.A1A81CC0]

From: James Turk <notifications@github.com>
Sent: Tuesday, December 29, 2020 3:48 PM
To: openstates/issues <issues@noreply.github.com>
Cc: Sutton, Julie <Julie.Sutton@house.ga.gov>;

[2020-12-29 21:01] jamesturk commented on #209
Gotcha, this is actually an issue with the geocoded address, which our map provider can’t identify.  https://apps.mapbox.com/feedback/ is the place to report the specific issue with your address.
On Dec 29, 2020, 3:52 PM -0500, juliesutton <notifications@github.com>, wrote:

[2020-12-29 21:01] #209 closed, assigned to nobody

[2020-12-29 21:04] juliesutton commented on #209
Ok thanks.  I just reported it.  Hope I did it correctly…

From: James Turk <notifications@github.com>
Sent: Tuesday, December 29, 2020 4:01 PM
To: openstates/issues <issues@noreply.github.com>
Cc: Sutton, Julie <Julie.Sutton@house.ga.gov>; Author <author@noreply.github.com>
Subject: Re: [openstates/issues] addresses marked wrong location (#209)

Gotcha, this is actually an issue with the geocoded

[2020-12-30 02:11] jamesturk commented on #160
DE: openstates/people#381
PA: openstates/people#380
MT: openstates/people#378
ND: openstates/people#376
LA: openstates/people#368
MD: openstates/people#369
MS: openstates/people#366
AL: openstates/people#363

[2020-12-30 02:14] jamesturk commented on #207
the scrapers here are not in the same shape generally as the people ones, but to_yaml can transform them, including the email field (it was recently updated for this)

almost missed this since it was on a closed issue, if you decide to claim MA & have general questions/etc. feel free to open an issue and we can work to get it working

[2020-12-30 03:01] jessemortenson opened #210 "MD 2021 prefiles missing bill sponsors"
**Issue Description:** MD bills in 2021 session are missing bill sponsors.

**URL where this issue may be seen (API or OpenStates.org):**
https://openstates.org/md/bills/2021/HB20/
https://openstates.org/md/bills/2021/HB34/
https://openstates.org/md/bills/2021/SB227/

**Source URL of correct data if applicable:**
http://mgaleg.maryland.gov/mgawebsite/Legislation/Details/hb0020?ys=2021RS
http://mga

[2020-12-30 14:50] bhrutledge opened #211 "MA: Update people data"
Following up on https://github.com/openstates/issues/issues/207. Blocked by https://github.com/openstates/people/pull/374.

Based on my read of the [contributing guide](https://docs.openstates.org/en/latest/contributing/people.html) and some experimentation, I think the process will be something like:

- Update MA `people` scraper output
    - Probably just `Capitol office -> Capitol Office`
- Run

[2020-12-30 17:02] jamesturk commented on #210
just pushed a fix, will run once docker image builds

[2020-12-30 17:13] bhrutledge commented on #211
Re: multiple `vacancies`, from @jamesturk in https://github.com/openstates/openstates-core/pull/18#issuecomment-752683555:

[2020-12-31 17:57] jessemortenson commented on #210
Thanks! Looks like at least one wrinkle still to iron out, found a couple bills that have sponsors like

Chair
Education
Health
Environmental Affairs Committee (By Request - Departmental - Labor)

https://openstates.org/md/bills/2021/SB141/
https://openstates.org/md/bills/2021/SB125/

[2021-01-01 06:02] #202 closed, assigned to nobody

[2021-01-01 12:02] openstates-bot opened #212 "DC-scrape failing since at least 2021-01-01"
DC-scrape has failed 5 times since 2021-01-01

Logs:
[code]

[2021-01-02 22:55] jdubansky opened #213 "end_date error in djadmin for VoteEvent"
This is the right template to select if you're reporting an issue with the functionality of OpenStates.org.
If this is a data issue, please select data issue instead!

Example URL: http://localhost:8000/djadmin/data/voteevent/ocd-vote_2F284a6ab4-0129-407a-837d-0c4657286880/change/
Browser: Chrome

Please describe the issue:

Unknown field(s) (end_date) specified for VoteEvent. Check fields/fieldse

[2021-01-03 06:02] openstates-bot opened #214 "WI-scrape failing since at least 2021-01-03"
WI-scrape has failed 5 times since 2021-01-03

Logs:
[code]

[2021-01-03 08:02] openstates-bot opened #215 "MI-scrape failing since at least 2021-01-03"
MI-scrape has failed 5 times since 2021-01-03

Logs:
[code]

[2021-01-03 19:21] jdubansky commented on #213
NVM, this looks like it is just a local issue for me.

[2021-01-03 19:21] #213 closed, assigned to nobody

[2021-01-04 05:02] openstates-bot opened #216 "OH-scrape failing since at least 2021-01-04"
OH-scrape has failed 5 times since 2021-01-04

Logs:
[code]

[2021-01-04 06:02] openstates-bot opened #217 "NC-scrape failing since at least 2021-01-04"
NC-scrape has failed 5 times since 2021-01-04

Logs:
[code]

[2021-01-04 15:36] jamesturk commented on #216
#192

[2021-01-04 15:42] #192 closed, assigned to nobody

[2021-01-04 16:23] #212 closed, assigned to nobody

[2021-01-04 16:41] jamesturk commented on #161
Updates so far today:

- DC is up and seems to be working (9 bills)
- NY is up, bills don't have much info yet, but what is there seems to work (lots of blank titled bills being skipped for now)
- MD sponsor fix

I think I have CT working too, verifying now.  Just the FTP listing is down so we can work around it.

[2021-01-04 17:39] showerst commented on #161
Just commenting here since slack is down, this afternoon i'll go ahead and queue up the PRs for the rest of this week --

MS, RI, MA, NE, VT

[2021-01-04 18:01] #214 closed, assigned to nobody

[2021-01-04 19:13] jamesturk opened #218 "CA scraper is possibly dropping certain special characters"
Visible right now on https://openstates.org/ca/bills/20192020/AB1352/

"23 vote of legislature"

A quick investigation points to how we parse caml:DigestText element data, probably dropping the / somewhere in there.  ~line 327

might be rendered obsolete by CA rewrite if we get there first

[2021-01-04 19:32] jessemortenson opened #219 "MN small number of actions ignored or mischaracterized"
**Issue Description:** MN bill actions can include entries that lack any kind of date. Common example is something like "Chapter number 2" under the House actions. This is probably a very minor bug, since Senate actions usually include a corresponding entry "Secretary of State Chapter 2 12/16/2020" that does include a date.

That said - is there a way generally in OS to ingest un-dated but sequent

[2021-01-04 19:46] showerst commented on #219
There's nothing in the data model for this right now, unfortunately. If we had dates before/after we could maybe infer it, but since they're just undated and we don't like to make up data, it's a bit of a rock and hard place.

I think we could argue that chapter number and effective date aren't actually actions taken by the legislature, that's just where MN happens to put them. We have another ope

[2021-01-04 22:12] jamesturk commented on #160
OK: openstates/people#390
HI: openstates/people#389
WI: openstates/people#388
DC: openstates/people#387

[2021-01-05 05:02] openstates-bot opened #221 "PA-scrape failing since at least 2021-01-05"
PA-scrape has failed 5 times since 2021-01-05

Logs:
[code]

[2021-01-05 05:03] openstates-bot opened #222 "RI-scrape failing since at least 2021-01-05"
RI-scrape has failed 5 times since 2021-01-05

Logs:
[code]

[2021-01-05 13:59] #210 closed, assigned to nobody

[2021-01-05 15:58] #216 closed, assigned to nobody

[2021-01-05 16:13] #221 closed, assigned to nobody

[2021-01-05 18:31] #206 closed, assigned to nobody

[2021-01-07 10:16] openstates-bot opened #223 "FL-scrape failing since at least 2021-01-07"
FL-scrape has failed 5 times since 2021-01-07

Logs:
[code]

[2021-01-07 12:17] #223 closed, assigned to nobody

[2021-01-07 22:45] jamesturk commented on #160
CT: openstates/people#400
MA: openstates/people#401
VT: openstates/people#402
MO: openstates/people#404
NE: openstates/people#405
RI: openstates/people#396
KY: openstates/people#395

[2021-01-08 01:30] alexobaseki opened #224 "NH Bills are Missing Versions"
**Issue Description**

There are few bills on NH that are missing versions. This is affecting a set of the first House and Senate Resolutions. Further investigation into this, observed that these same bills does not appear in the [LsrsOnly.txt Document in source](http://gencourt.state.nh.us/dynamicdatafiles/LsrsOnly.txt), thus [scrape_version_ids() fails to capture these missing versions](https://

[2021-01-08 01:54] showerst commented on #224
I'll take a look at this tomorrow, can confirm I see the same thing you do.

Note: these bills do show up on http://gencourt.state.nh.us/dynamicdatafiles/LSRs.txt?x=20210107085037 , but they're not in LsrsOnly.txt

[2021-01-08 15:48] #222 closed, assigned to nobody

[2021-01-08 20:25] jamesturk opened #225 "MA: adapt scraper for 2021 site changes once a bit more data is present"
As of today, MA looks like they may be changing how they present data a bit.

The main change is that the information seems to be on a single page instead of subpages, which would mean a faster scrape.

An example of an old page, where each piece of info was on a subpage:
https://malegislature.gov/Bills/191/S40

But a new page looks different, with data inline:
https://malegislature.gov/Bills/192/

[2021-01-08 20:35] showerst commented on #225
In case someone gets to it before i do,

https://github.com/openstates/openstates-scrapers/blob/main/scrapers/ma/bills.py#L271

We're checking the cosponsor name against the list of sponsors, THEN doing some cleanup on it before saving.

We should be doing the cleanup first before the comparison to make sure we don't dupe, and also move it to a function since we're applying the same code to sponso

[2021-01-08 20:55] jamesturk commented on #225
also currently seeing duplicate bills in pagination, I think this might just be because they're loading bills as we scrape.  will check this out after they seem to have stopped uploading bills to see if we need to adapt at all

[2021-01-10 21:53] bhrutledge commented on #211
@jamesturk With the merge of https://github.com/openstates/people/pull/401, can this be closed?

[2021-01-11 12:02] openstates-bot opened #226 "OR-scrape failing since at least 2021-01-11"
OR-scrape has failed 5 times since 2021-01-11

Logs:
[code]

[2021-01-11 14:48] showerst commented on #226
patch in progress.

[2021-01-11 15:19] #226 closed, assigned to nobody

[2021-01-12 04:58] jessemortenson opened #227 "IN joint and concurrent resolutions bill number discrepancy"
**Issue Description:** IN has a set of concurrent and joint resolutions filed in each chamber. In Open States, the identifier / bill number uses a prefix in the form SJ/SC/HJ/HC. However, on the IN website the identifier is prefixed with SJR/SCR/HJR/HCR.

I don't have an IN API key so can't immediately check to see if the API data shows this discrepancy or not. Looking at the [IN website](http://i

[2021-01-12 05:02] openstates-bot opened #228 "LA-scrape-special failing since at least 2021-01-12"
LA-scrape-special has failed 5 times since 2021-01-12

Logs:
[code]

[2021-01-12 19:12] jamesturk commented on #227
taking a look at this one

[2021-01-12 20:29] jamesturk commented on #227
it does seem like the API is returning the 2 letter version. IN is unfortunately already quite slow to run but I'll work on testing a fix to make the names match the site as I do think that is probably the intent

[2021-01-12 21:47] #153 closed, assigned to nobody

[2021-01-12 21:48] jamesturk commented on #174
this is now fixed in source data

[2021-01-12 21:48] #174 closed, assigned to nobody

[2021-01-12 21:49] jamesturk commented on #211
yes 👍

[2021-01-12 21:49] #211 closed, assigned to nobody

[2021-01-12 22:29] bhrutledge commented on #211
Awesome. If/when you have the time and inclination, I'm curious about your process for #401, and how closely it followed what I outlined in https://github.com/openstates/issues/issues/211#issue-776492455.

[2021-01-12 22:34] jamesturk commented on #211
Yep, your process was just about right from what I recall (been a bit of a busy 2 weeks updating all of these, but I don't remember anything else standing out for MA)

- Fix removal of start_date
- Add special case for contact_details to avoid appending duplicate entries

These two were mostly handled already by other updates for this year, so not a ton to do on them.

- For vacancies, people/sett

[2021-01-13 14:48] jamesturk commented on #227
after digging through the API, there was a displayName property all along, will give this a run and clean up the other bills

[2021-01-13 15:06] #215 closed, assigned to nobody

[2021-01-13 16:27] jamesturk opened #229 "SD: revisit actions/etc."
we need to revisit South Dakota once they have actions/etc. up to make sure we're grabbing them from the new API endpoints

cc @NewAgeAirbender

[2021-01-13 17:48] #217 closed, assigned to nobody

[2021-01-13 17:53] openstates-bot opened #230 "NC-scrape failing since at least 2021-01-13"
NC-scrape has failed 5 times since 2021-01-13

Logs:
[code]

[2021-01-13 17:55] #230 closed, assigned to nobody

[2021-01-13 21:08] jamesturk commented on #227
IN is being incredibly slow again.. timed out again a few minutes ago.

[2021-01-14 12:02] openstates-bot opened #231 "NV-scrape failing since at least 2021-01-14"
NV-scrape has failed 5 times since 2021-01-14

Logs:
[code]

[2021-01-14 18:18] jamesturk commented on #227
fixed & removed improperly named bills for this session

[2021-01-14 18:18] #227 closed, assigned to jamesturk

[2021-01-14 23:54] yi-yang-github commented on #161
NY data scraper seems to be scraping wrong phone / fax numbers, e.g.:

https://nyassembly.gov/mem/Fred-W-Thiele-Jr/contact/ shows
[code]
which assumes 518-455-5997 is the phone number.

but the OpenStates data shows phone = 518-455-5963

[2021-01-15 06:23] cars commented on #177
@rogerscg  I'm seeing this same error if I try to clone the repo with  ```core.autolf = true``` beforehand, but with it set to ```false``` it starts up just fine for me.  I'm on Win 10 (version 20H2 (Build 19042.746)) with docker desktop v3.0.4

Did you make sure you deleted the actual images before re-cloning the repo and running compose again?

[2021-01-17 08:42] TristanShepherd opened #232 "NY Contact Data is incorrect"
**Issue Description:**
More than 50% of the Capitol and District phone numbers for the lower and upper chambers are incorrect. My org - the NYS DSA has looked these up and we have an internal database to replace info from calls to the OpenStates API. It would be great to update these numbers, as they are widely available on the legislators websites and we are happy to help!

**URL where this issue

[2021-01-17 14:15] jamesturk commented on #232
Would it be possible for you all to contribute a fix to openstates/people?
On Jan 17, 2021, 3:42 AM -0500, TristanShepherd <notifications@github.com>, wrote:

[2021-01-17 20:27] mzagaja opened #233 "CT: Vote data incorrect"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

**Issue Description:**
Vote information is putting data in incorrect fields. voterName is presenting as `Y` instead of the name as an actual voter.

**URL where this issue may be seen (API or OpenStates.org):**
[code]

<details>
<summary>JSON Response</summary>

[code]
</details>

[2021-01-18 18:50] jdubansky opened #234 "InconsistentMigrationHistory when trying to restore the 2020 dump"
This is the right template to select if you're reporting an issue with bill or vote data from Open States.

**Issue Description:**
Hello, when I try to restore the database to a remote server using the scheme and dump I get an error saying "column opencivicdata_person.email does not exist" So I figured there is some migration that is out of sync and try to run migrate I get this error
`django.db.m

[2021-01-18 20:43] jdubansky commented on #234
I was able to get one step closer with doing `migrate data --fake-initial` but now running into an issue `no such organization ocd-jurisdiction/country:us/state:ak/government executive` when trying to import people.

[2021-01-19 16:22] jamesturk commented on #234
Have you tried with a more current dump, the jan 2021 dump should have the migrations you need.

[2021-01-19 16:23] jamesturk commented on #177
@cars thanks for confirming this, I had another report from a colleague that they couldn't reproduce this either.  Going to close this one for now, @rogerscg if you have further trouble let me know

[2021-01-19 16:23] #177 closed, assigned to nobody

[2021-01-19 17:11] jdubansky commented on #234
I didnt realize those were available! downloading right now! Thanks for the heads up!

[2021-01-19 18:30] jamesturk commented on #233
thanks for this report, looking into it!

[2021-01-19 18:42] jamesturk commented on #233
so far no votes in the current session, might circle back to this after a few days so we can get a fix working there then consider a re-scrape of prior sessions

[2021-01-19 18:46] jamesturk commented on #160
Two left to go:

### Puerto Rico
- http://www.tucamarapr.org/dnncamara/web/ComposiciondelaCamara/Biografia.aspx
this is missing legislators still, look for Yazzer and Higgins
- https://www.senado.pr.gov/Pages/Senadores.aspx
seems to be good

### New Mexico
- https://www.nmlegis.gov/Members/Legislator_List?T=R
- https://www.nmlegis.gov/Members/Legislator_List?T=S
- house:  3 Lane over Bandy
- senat

[2021-01-19 18:49] jamesturk commented on #161
@yi-yang-github we have a new issue for that #232

Just waiting on a few states now:

WV: nothing yet, https://www.wvlegislature.gov/Bill_Status/Bill_Status.cfm
~HI: nothing yet~
LA: nothing until April? https://legis.la.gov/legis/BillSearch.aspx?sid=LAST